.b-content__users {
  display: table;
  width: 100%;

  &--bnt-top {
    margin-bottom: 12px;
    display: inline-block;
  }

  &__groups-box {
    display: table-cell;
    padding-right: 54px;
    vertical-align: top;

    &__group-table {
      .b-table__body__row:not(.b-table__body__row--active) {
        &:hover {
          background: rgba($green, 0.1);
        }
      }

      .b-table__body__row__col--text {
        display: inline-block;
        @include text-ellipsis(200px);
      }

      &__new-group {
        position: relative;

        &--input {
          display: inline-block;
          width: calc(100% - 64px);
          max-width: calc(100% - 64px);
          height: 42px;
          font-size: 18px;
          font-weight: lighter;
          border: 0;
          padding: 0 12px;
          margin: 10px 0;
          border-bottom: 1px solid $green;

          &:active {
            outline: none;
          }
        }

        &--button {
          background: transparent;
          border: none;
          color: $green;
          width: 40px;
          height: 42px;
          font-size: 30px;
          padding: 0;
          margin: 0;
          float: right;

          &:active {
            outline: none;
          }
        }

        &--tooltip {
          opacity: 0.8;
            position: absolute;
            background: #000000;
            border: 2px solid #000000;
            display: block;
            width: 100%;
            top: -30px;
            height: 24px;
            border-radius: 5px;
            color: rgb(255, 255, 255);
            text-align: center;
            line-height: 24px;

          &:after, &:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }

          &:after {
            border-color: rgba(0, 0, 0, 0);
            border-top-color: #000000;
            border-width: 5px;
            margin-left: -5px;
          }

          &:before {
            border-color: rgba(0, 0, 0, 0);
            border-top-color: #000000;
            border-width: 8px;
            margin-left: -8px;
          }
        }
      }

      &__group {
        &__rules {
          float: right;
          font-size: 18px;
          line-height: 18px;
        }

      }
      .droppable-hover {
        border: 2px dotted $gray;
      }
    }
  }

  &__users-box {
    display: table-cell;
    padding-right: 54px;
    vertical-align: top;
    width: 552px;

    &__user-item {
      overflow: hidden;
      height: 100%;

      &__info {
        &__row {
          overflow: hidden;
          clear: both;
          margin-bottom: 4px;

          &--label {
            float: left;
            color: $gray-text;
            font-size: 16px;
            font-weight: lighter;
          }

          &--text {
            float: left;
            color: $gray-text;
            font-size: 16px;
          }

          &--move-to {
            float: right;

            .e-select {
              @include select(140px, 24px, white, 16px);
              float: left;
            }

            &--icon {
              margin-left: 4px;
              font-size: 20px;
              color: $green;
            }
          }
        }
      }

      &.ui-sortable-helper {
        display: block;
        overflow: hidden;
        height: 72px !important;

        .b-content__users__users-box__user-item__info {
          display: none;
        }
      }


      &__name {

        &--title {
          overflow: hidden;
        }

        &:hover {
          position: relative;

          &:before {
            border: 2px dotted rgb(102, 102, 102);
            width: 2px;
            height: calc(100% - 25px);
            content: '';
            position: absolute;
            left: 8px;
            top: 11px;
            cursor: move;
          }
        }
      }

      &__permission {
        vertical-align: top;
      }

      .b-table__body__row__col--text {
        display: inline-block;
        @include text-ellipsis(200px);
      }

      &--rules {
        float: right;
        font-size: 18px;

        .fa:not(.fa-book) {
          margin-right: 3px;
          &:hover {
            color: $green;
            cursor: pointer;
          }
        }

        &__arrow  {
          margin-right: 0;
          font-size: 16px;
          width: 12px;
        }

        &__button {
          border: none;
          background: transparent;
          font-size: 18px;
          color: $gray-text;
          padding: 0;

          &:active {
            outline: none;
          }

          &:disabled {
           color: $gray;
            .fa:hover {
              color: $gray;
              cursor: auto;
            }
          }
        }
      }
      &--phone, &--email {
        font-size: 16px;
        margin: 0;
      }
    }

  }

  &__search-box {
    display: table-cell;
    vertical-align: top;

    &__search-title {
      font-size: 18px;
      color: $gray-text;
      line-height: 36px;
      margin: 0 0 12px;
    }
  }
}

.b-new-user {
  height: 760px;
  width: 720px;
  margin-left: -(720px/2);
  margin-bottom: 40px;

  .e-select {
    @include select(292px, 42px, $gray-light);
    float: left;
    margin: 12px 0;
  }

  &__form {
    &__row {
      position: relative;
      width: 100%;
      display: inline-block;

      &__col {
        float: left;
        display: inline-block;
        width: 50%;
        position: relative;

        &:nth-of-type(even) {
          float: right;
        }
      }
    }
    &__item {

      &__label {
        display: block;
        font-size: 18px;
        color: $gray-text;
        margin-top: 12px;
      }

      &__field {
        border: 0;
        width: 268px;
        height: 42px;
        font-size: 18px;
        padding: 0 12px;
        color: $gray-text;
        background-color: $gray-light;
        margin: 12px 0;
        display: block;
        font-weight: lighter;

        &--long {
          width: 590px;
        }
      }
    }

    &__caption {
      font-size: 18px;
      color: $gray;
      font-weight: lighter;
      margin: 12px 0 24px 0;
    }
  }

  [errorsblock] {
    width: 268px;
    position: relative;
  }

  .error-message {
    //width: calc(100% - 24px);
    width: 100%;
    padding: 12px;
    min-height: 40px;
    background: $red-error;
    color: white;
    font-size: 12px;
    position: absolute;
    left: 0;
    z-index: 10;

    &:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-bottom-color: $red-error;
      border-width: 6px;
      margin-left: -6px;
    }

  }
}

.b-send-sms {
  height: 330px;
  width: 600px;
  margin-left: -(600px/2);

  &--label {
    display: block;
  }

  &--textarea {
    height: 100px;
    border: none;
    background: $gray-light;
    resize: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 16px;
    margin-top: 20px;
  }

  &__button {
    border: none;
    background: transparent;
    font-size: 24px;
    color: $gray-text;
    cursor: pointer;
    display: block;
    margin: 10px auto;

    &:hover {
      color: $gray;
    }
    .fa {
      color: $green;
    }
  }
}


.error-message {
  width: calc(100% - 24px);
  padding: 12px;
  min-height: 40px;
  background: $red-error;
  color: white;
  font-size: 12px;
  position: absolute;
  left: 0;
  z-index: 1;

  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-bottom-color: $red-error;
    border-width: 6px;
    margin-left: -6px;
  }

}
