<div class="b-content__users__users-box">
    <button ui-sref="page.users.group.adduser"
            role="button"
            class="e-create-btn b-content__users--bnt-top">
        <span class="fa fa-plus e-create-btn--icon"></span>
        <span class="e-create-btn--title">{{ 'users.Add_User' | translate }}</span>
    </button>

    <table class="b-table__box">
        <thead>
        <tr class="b-table__header">
            <th class="b-table__header__item">
                <span >
                    {{ 'users.NAME' | translate }}
                </span>
                <button class="transparent-button"
                        role="button"
                        ng-click="predicate = 'name'; reverse=!reverse">
                  <span class="fa fa-caret-down g-pointer"></span>
                  <span class="button-title">
                    {{'table_header.Sort_by'| translate }} {{ 'users.NAME' | translate }}
                  </span>
                </button>
            </th>
            <th class="b-table__header__item">
                <span>
                    {{ 'users.PERMISSION' | translate }}
                </span>
              <button class="transparent-button"
                      role="button"
                      ng-click="predicate = 'permission'; reverse=!reverse">
                <span class="fa fa-caret-down g-pointer"></span>
                  <span class="button-title">
                    {{'table_header.Sort_by'| translate }} {{ 'users.PERMISSION' | translate }}
                  </span>
              </button>
            </th>
        </tr>
        </thead>
        <tbody class="b-table__body"
               ng-model='users'
               id="sortable">

        <tr class="b-table__body__row b-content__users__users-box__user-item"
            ng-repeat="user in filtered = (users | deletedItemsFilter : 'users') | filter:q | orderBy:predicate:reverse"
            id="{{user._id}}"
            ng-model="users" ng-init="user.hidden = true">
            <td class="b-table__body__row__col b-content__users__users-box__user-item__name">
                <div class="b-content__users__users-box__user-item__name--title">
                    <span class="b-table__body__row__col--text"
                        title="{{user.name}}">
                        {{user.name}}
                    </span>
                    <span class="b-content__users__users-box__user-item--rules">
                        <button class="transparent-button"
                                role="button"
                                ng-click="user.hidden = !user.hidden">
                          <span class="fa fa-book"></span>
                          <span class="fa b-content__users__users-box__user-item--rules__arrow"
                                ng-class="{'fa-angle-right': user.hidden, 'fa-angle-down': !user.hidden}"></span>
                          <span class="button-title">{{ 'users.View_details' | translate }}</span>
                        </button>
                        <button class="transparent-button
                                       b-content__users__users-box__user-item--rules__button"
                                role="button"
                                title="{{ 'users.Send_SMS_user' | translate }}"
                                ui-sref="page.users.group.smstouser({userId: user._id})">
                            <span class="fa fa-envelope-o"></span>
                            <span class="button-title">{{ 'users.Send_SMS_user' | translate }}</span>
                        </button>
                        <button class="transparent-button
                                       b-content__users__users-box__user-item--rules__button"
                                role="button"
                                ng-disabled="user.permission === 'superAdmin' && loggedInUser.permission !== 'superAdmin'"
                                ui-sref="page.users.group.edituser({userId: user._id})"
                                title="{{ 'users.Edit_details' | translate }}">
                            <span class="fa fa-pencil"></span>
                          <span class="button-title">{{ 'users.Edit_details' | translate }}</span>
                        </button>
                        <button class="transparent-button
                                       b-content__users__users-box__user-item--rules__button"
                                role="button"
                                title="{{user.permission === 'superAdmin' ? ('users.Cannot_delete' | translate) : ('users.Delete_user' | translate) }}"
                                ng-click="deleteUser(user._id, user.username)"
                                ng-disabled="!$stateParams.groupId && (user.permission === 'superAdmin')">
                            <span class="fa fa-trash-o"></span>
                          <span class="button-title">{{user.permission === 'superAdmin' ? ('users.Cannot_delete' | translate) : ('users.Delete_user' | translate) }}</span>
                        </button>
                    </span>
                </div>
                <div ng-show="!user.hidden" class="b-content__users__users-box__user-item__info">
                    <div class="b-content__users__users-box__user-item__info__row">
                      <span class="b-content__users__users-box__user-item__info__row--label">
                        {{ 'users.MOVE_TO' | translate }}
                      </span>
                      <div class="b-content__users__users-box__user-item__info__row--move-to"
                           ng-init="user.group = {name: 'Select Group'}">
                          <div dropdown-select="groups"
                               dropdown-model="user.group"
                               dropdown-item-label="name"
                               dropdown-onchange="user.group"
                               class="b-content__users__users-box__user-item__info__row--move-to__dropdown">
                          </div>
                        <button class="transparent-button" ng-click="moveToGroup(user.group._id, user._id)"  role="button">
                          <span class="fa fa-check-circle b-content__users__users-box__user-item__info__row--move-to--icon"></span>
                          <span class="button-title">
                             {{ 'users.MOVE_TO' | translate }}
                          </span>
                        </button>
                      </div>
                    </div>
                    <div class="b-content__users__users-box__user-item__info__row"
                       ui-sref="page.users.group.smstouser({userId: user._id})"
                       title="{{user.username}}">
                      <span class="b-content__users__users-box__user-item__info__row--label">
                        {{ 'users.USERNAME' | translate }}
                      </span>
                      <span class="b-content__users__users-box__user-item__info__row--text">
                        {{user.username}}
                      </span>
                    </div>
                    <div class="b-content__users__users-box__user-item__info__row">
                        <span class="b-content__users__users-box__user-item__info__row--label">
                          {{ 'users.PHONE' | translate }}
                        </span>
                        <span class="b-content__users__users-box__user-item__info__row--text">
                          {{user.phone}}
                        </span>
                    </div>
                    <div ng-hide="!user.email"
                       class="b-content__users__users-box__user-item__info__row">
                        <span class="b-content__users__users-box__user-item__info__row--label" >
                          {{ 'users.EMAIL' | translate }}
                        </span>
                        <span class="b-content__users__users-box__user-item__info__row--text">
                          {{user.email}}
                        </span>
                    </div>
                </div>
            </td>

            <td class="b-table__body__row__col b-content__users__users-box__user-item__permission">
                <p class="b-table__body__row__col--text"
                        title="{{user.permission}}">
                    {{user.permission}}
                </p>
            </td>

        </tr>

        </tbody>
    </table>
</div>

<div class="b-content__users__search-box">
    <p class="b-content__users__search-box__search-title"> {{ 'users.Search' | translate }}</p>

    <div class="e-search-box">
        <span class="fa fa-search e-search-box__icon"></span>
        <input type="search" class="e-search-box__input"
               role="search"
               ng-model="q"
               placeholder="{{ 'users.Search' | translate }}">
    </div>
</div>
<div ui-view></div>
