.b-results {
  display: table;
  width: 100%;

  &__header {
    display: table-caption;
    clear: both;
    overflow: hidden;

    &__schedule-export {
      float: right;
      background: transparent;
      border: none;
      font-size: 24px;
      color: $gray-text;
      cursor: pointer;
      .fa {
        color: $green;
      }
      &:hover {
        color: $gray;
      }
    }

    &__title {
      float: left;
      font-size: 24px;
      color: $gray-text;
      max-width: 600px;
      overflow: hidden;
      margin: 0 0 12px 0;
      text-overflow: ellipsis;
      word-wrap: break-word;
      white-space: nowrap;
    }

    &__caption {
      display: block;
      font-size: 18px;
      color: $gray-text;
      clear: both;

      &__link {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  &__list-box {
    display: table-cell;
    width: 50%;
    vertical-align: top;


    &__body {

      background-color: $gray-light;

      .b-table__body__row:hover {
        background: rgba($green, 0.1);
      }

      &__selected-result {
        background: rgba($green, 0.3);
      }

      .b-table__body__row__col,
      .b-table__header__item {
        padding: 12px;
      }

      &__top {
        padding: 12px 24px;
        //overflow: hidden;
        position: relative;
        height: 44px;

        &__icon {
          background: transparent;
          border: none;
          font-size: 24px;
          color: $blue;
          line-height: 36px;

          &:active {
            outline: none;
          }
        }

        .wrap-dd-menu {
          width: auto;
          margin-right: 0;

          .dropdown {
            transform: translateX(-50%);
            margin-right: 0;
            margin-left: 0;
            left: 28px;
          }
        }

        &__arrow-back {
          font-size: 30px;
          cursor: pointer;
          color: $green;
          float: left;
          margin-right: 18px;
        }
        &__rules {
          float: left;
        }

        &__search {
          float: right;
          width: 360px;

          .e-search-box{
            background: white;
          }
        }
      }
    }
  }

  &__details {
    display: table-cell;
    width: 50%;
    max-width: 50vw;
    vertical-align: top;
    padding-left: 24px;
  }

  &__modal-sent {
    width: 400px;
    height: 400px;
    margin-left: -(400px/2);

    .b-modal-window__main-block__body {
      height: 280px;
      overflow-y: auto ;
    }
  }
}

.b-result {

  .b-result__table {
    border-collapse: collapse ;
    width: 100%;

    &__col {
      border: 1px solid $gray-border;
      padding: 6px;
      &--caption {
        background-color: $gray-light;
      }
    }
  }

  &__survey {
    display: block;
    padding: 0;

    &__category {
      display: block;
      list-style: none;
      margin-top: 24px;

      &--title {
        font-size: 24px;
        text-decoration: underline;
      }

      &__questions {
        padding: 6px;

        &__question {
          list-style: none;
          font-size: 18px;
          margin-top: 12px;

          &__answer {
            color: $blue;
            font-size: 18px;
            font-weight: 100;
          }
        }

        &--image {
          max-width: 100%;
        }
      }
    }
  }
}

.b-results-export {
  width: 600px;
  height: 500px;
  margin-left: -(600px/2);

  .b-modal-window__main-block__body {
    height: 376px;
    overflow-y: auto ;
  }
  &__export-schedule {
    &__small-field {
      width: 50%;
      float: left;
      padding: 12px 0;
      position: relative;
    }

    &__long-field {
      display: inline-block;
      width: 100%;
      position: relative;
    }

    &__label {
      display: block;
      color: $gray-text;
    }

    &__select-field {
      display: block;
      height: 35px;
      background: $gray-light;
      padding: 0 10px;
      border: 1px solid $gray-light;
      font-size: 18px;
      width: calc(100% - 30px);
    }

    &__errors {
      color: $red;
    }

    &__actual {
      margin: 12px 0 0 0 ;
      padding: 0;

      &--caption {
        font-size: 24px;
        color: $blue;
      }

      &__item {
        list-style: none;
        font-size: 18px;
        color: $gray-text;
        margin-top: 6px;
        &--email {
          font-weight: bold;
        }

        &--date {
          margin-left: 12px;
        }
        &--delete {
          float: right;
          color: $red;
          font-size: 20px;
          cursor: pointer;
        }

      }
    }

    &__export-button {
      margin: 12px auto;
      border: none;
      background: transparent;
      font-size: 24px;
      display: block;
      cursor: pointer;

      &:hover {
        color: $gray;
      }
      .fa {
        color: $green;
      }
    }
  }
}

.b-results-chart {
  width: 700px;
  height: 600px;
  margin-left: -(700px/2);

  .b-modal-window__main-block__body {
    height: 480px;
    overflow-y: auto ;
  }
}

.b-map-panel {
  float: left;
  width: 100%;
  height: 610px;
  margin-bottom: 100px;
  position: relative;

  &__search {
    position: absolute;
    z-index: 200;
    width: 400px;
    margin: 12px;
    float: left;
    height: 30px;
    display: block;
    border: 1px solid $blue;
    background: white;
    color: $gray-text;
  }

  &__close {
    position: absolute;
    z-index: 200;
    top: 12px;
    right: 24px;
    color: $blue;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
  }

  #mapContainer {
    width: 100%;
    height: 100%;

    .nm_bubble_content {
      font-size: 12px;
      a {
        color: black;
      }
    }
  }
}

.results-chart {
  padding: 0;
  overflow: auto;
  height: 450px;

  li {
    list-style: none;
    font-family: NokiaPureText;
    line-height: 30px;
    padding: 20px;
    border-bottom: 1px solid $gray-light;

    label {
      float: left;
      position: relative;
      font-size: 16px;
      display: inline-block;
      @include text-ellipsis(380px);

      &:not(.void) {
        padding-left: 16px;
        //.open-arrow(0, 6px);
      }
    }

    .bar-icon,
    .pie-icon {
      position: inherit;
      display: inline-block;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      font-size: 24px;
      color: $green;
      margin: 0 12px;
    }

    .chart-image {
      height: 330px;
      width: 550px;
      margin-left: 30px;
      display: block;

      text {
        font-family: NokiaPureText;
      }

      .slice path {
        stroke: #fff;
        stroke-width: 2px;
      }

      .axis path {
        fill: none;
        stroke: $gray-light;
        shape-rendering: crispEdges;
      }

      .axis text {
        line-height: 45px;
      }

      .bar {
        fill: #4a98d8;
      }
    }
  }
}
