<div class="content">
    <div class="forgot-password-panel" ng-controller="ForgotPasswordCtrl">
        <h1 class="center-text">FORGOT YOUR PASSWORD?</h1>
        <form name="ForgotPasswordForm"
              autocomplete="off"
              ng-submit="forgotPassword()"
              class="forgot-password-form"
              ng-show="!done">
            <p class="dark-gray light">Please enter your username and email to reset your password.</p>
            <p class="dark-gray light">If you forgot your username, please enter your email only and we will send all usernames related to this email.</p>
            <div class="small-field">
                <input type="text"
                       ng-model="username"
                       name="username"
                       placeholder="Username..."
                       ng-trim="true">
            </div>

            <div class="small-field validation-field">
                <input type="email"
                       ng-model="email"
                       name="email"
                       placeholder="Email..."
                       ng-trim="true"
                       required>
            </div>
            <input type="submit"  value="Proceed" class="forgot-btn">
        </form>
        <div ng-show="done" class="forgot-password-form">
            <p class="dark-gray light">If you have entered a valid email, please check it for further instructions.</p>
        </div>
    </div>
</div>
