<div class="content home-page">
    <div class="header-background">
        <div class="content-block header-logo">
            <span class="title big-logo center-text">Nokia Data Gathering offers organizations a fast, accurate, cost effective and<br>user-friendly way to collect data using mobile devices.</span>
        </div>
    </div>

    <div class="content-block">
        <div class="block">
            <div class="column left">
                <p>Collecting field data the old-fashioned way, by filling in paper forms, transporting them, to a central location, and transcribing them, is slow and cumbersome. It delays the availability of information and can hamper the ability to make crucial decisions.</p>
                <p>Data collection with a mobile device can dramatically improve the speed and quality of information obtained from the field. The more time-critical the need for data and the more remote the location, the more organizations can benefit from a mobile phone based solution.</p>
                <p>Nokia Data Gathering is a comprehensive solution that allows organizations to collect rich field data, including GPS location tags and images, using mobile phones and tablets instead of paper forms or laptops.</p>
                <p>Because mobile devices can transmit data even from remote locations, the information collected can be available for analysis in near-real time.</p>
            </div>
            <div class="column right">
                <img class='image mobile-collage' src="../resources/images/collage.jpg">
            </div>
        </div>
    </div>

    <div class="light-gray-background">
        <div class="content-block">
            <div class="block ">
                <h1 class="center-text">HOW IT WORKS</h1>
                <ul class='how-it-works'>
                    <div class="column left">
                        <li>
                            <a href="" ng-click="goState('pageGetStarted.getStarted', { scrollTo: 'step2' })">
                                <img class='image' src="../resources/images/howitworks_1.png">
                            </a>
                            <span class="number bold">1</span>
                            <a href="" ng-click="goState('pageGetStarted.getStarted', { scrollTo: 'step2' })">
                                <p>Create a questionnaire on the survey editor</p>
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="goState('pageGetStarted.getStarted', { scrollTo: 'step4' })">
                                <img class='image' src="../resources/images/howitworks_2.png">
                            </a>
                            <span class="number bold">2</span>
                            <a href="" ng-click="goState('pageGetStarted.getStarted', { scrollTo: 'step4' })">
                                <p>Publish the data for data collectors</p>
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="goState('pageGetStarted.getStarted', { scrollTo: 'step5' })">
                                <img class='image' src="../resources/images/howitworks_3.png">
                            </a>
                            <span class="number bold">3</span>
                            <a href="" ng-click="goState('pageGetStarted.getStarted', { scrollTo: 'step5' })">
                                <p>Fill in the questionnaire on your mobile device</p>
                            </a>
                        </li>
                    </div>
                    <div class="column right">
                        <li>
                            <a href="" ng-click="goState('pageGetStarted.getStarted', { scrollTo: 'step5' })">
                                <img class='image' src="../resources/images/howitworks_4.png">
                            </a>
                            <span class="number bold">4</span>
                            <a href="" ng-click="goState('pageGetStarted.getStarted', { scrollTo: 'step5' })">
                                <p>Send your data to the server over the mobile network</p>
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="goState('pageGetStarted.getStarted', { scrollTo: 'step6' })">
                                <img class='image' src="../resources/images/howitworks_5.png">
                            </a>
                            <span class="number bold">5</span>
                            <a href="" ng-click="goState('pageGetStarted.getStarted', { scrollTo: 'step6' })">
                                <p>View, map, and export your data</p>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>


    <div class="content-block">
        <div class="block">
            <p class="gray italic center light center-text">This video is about the use of Nokia Data Gathering to <span class="bold">combat dengue fever</span> in Amazonas State, Brazil.</p>
            <iframe class='video'
                    src="//www.youtube.com/embed/kP1v9Snz6HA">
            </iframe>
        </div>
    </div>

    <div class="gray-background">
        <div class="content-block">
            <a name="benefits"></a>
            <div class="block gray-background">
                <h1 class="center-text">BENEFITS</h1>
                <div class="column left">
                    <div class="benefits">
                        <div class="speed img"></div>
                        <h2 class="light center-text">Speed</h2>
                        <p class="dark-gray center-text">Compared to using paper forms, mobile solutions cut down delays caused by transportation and manual digitalization of collected data.</p>
                    </div>
                    <div class="benefits">
                        <div class="cost-efficiency img"></div>
                        <h2 class="light center-text">Cost efficiency</h2>
                        <p class="dark-gray center-text">Transportation and logistics costs are reduced, as are the needs for manual data entry and cleaning. There is also a cost of inaction saved with the ability to make critical decisions and react rapidly.</p>
                    </div>
                </div>
                <div class="column right">
                    <div class="benefits">
                        <div class="accuracy img"></div>
                        <h2 class="light center-text">Accuracy</h2>
                        <p class="dark-gray center-text">Data entry occurs at the point of collection, without needing to transcribe hand-written information. This lowers the frequency of transcription and data entry errors.</p>
                    </div>
                    <div class="benefits">
                        <div class="usability img"></div>
                        <h2 class="light center-text">Usability</h2>
                        <p class="dark-gray center-text">Mobile phones are small, easy to carry, have battery longevity, and enable the capture of rich data such as GPS location tags and images.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-block">
        <div class="block">
            <div class="column left">
                <h1>AWARDS</h1>
                <p><span class="bold">2012</span>: Nokia Data Gathering was a Featured Project of the Month for July in the Developer Community Blog.</p>
                <p><span class="bold">2011</span>: Nokia Data Gathering won the Justmeans Social Innovation Award in the category "Philanthropy: Most Strategic Use of Philanthropic Funds".</p>
                <p>The Justmeans international awards program is considered one of the top honours in the field of sustainability, giving recognition to companies implementing groundbreaking strategies and programs that drive social and environmental innovation.</p>
            </div>
            <div class="column right">
                <h1>ACKNOWLEDGEMENTS</h1>
                <p>We would like to extend our thanks to these organizations, which have been instrumental in getting Nokia Data Gathering to where it is today.</p>
                <ul class="acknowledgements">
                    <li>
                        <a href="http://www.indt.org/?lang=en">Nokia Technology Institute</a>
                    </li>
                    <li>
                        <a href="http://www.uonbi.ac.ke/">University of Nairobi</a>
                    </li>
                    <li>
                        <a href="http://cmri.shu.edu/">The Center for Mobile Research and Innovation</a>
                    </li>
                    <li>
                        <a href="http://www.ayalafoundation.org/">The Ayala Foundation</a>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="footer">
            <li>
                <a class="gray" href="http://www.nokia.com/global/privacy/privacy/policy/privacy-policy/">Privacy Policy</a>
            </li>
            <li>
                <a class="gray" href="http://www.nokia.com/global/privacy/privacy/cookie/cookie-policy/">Cookie Policy</a>
            </li>
            <li>
                <a class="gray" href="http://www.nokia.com/global/privacy/privacy/service-terms/nokia-service-terms/">Service Terms</a>
            </li>
            <li>
                <a class="gray" href=" https://github.com/nokiadatagathering">Code</a>
            </li>
        </ul>
    </div>
</div>

