  <div class="content">
    <div class="login-panel">
        <h1 class="center-text">LOGIN</h1>
        <form ng-model="loginForm"
              name="loginForm"
              ng-controller="LoginCtrl"
              autocomplete="off"
              ng-submit="signIn()"
              class="login-form">
            <div class="small-field">
                <input ng-model="username"
                       type="text"
                       placeholder="Enter your username..."
                       id="username"
                       name="username"
                       value="{{username}}"
                       required
                       ng-change="errorAuth=false"
                       ng-trim="true">
            </div>

            <div class="small-field validation-field">
                <input ng-model="password"
                       type="password"
                       placeholder="Enter your password..."
                       id="password"
                       name="password"
                       value="{{password}}"
                       required
                       ng-change="errorAuth=false"
                       ng-trim="true">
                <div errorsblock="errors.login"></div>
            </div>
            <a ui-sref="pageGetStarted.forgotPassword">Forgot your password?</a>
            <input type="submit"  value="Login" class="login-btn">
        </form>
    </div>
</div>
