<div class="overlay" ng-click="goState('^')"></div>
<div class="window" ng-controller="EditUserCtrl">
    <div class="window-header">
        <h2>Edit this User's Details</h2>
        <div class="close-window" ng-click="goState('^')">&#10006;</div>
    </div>
    <div class="window-body">
        <form name="editUserForm" id="edit-user-form"  autocomplete="off"
              ng-model="editUserForm"
              ng-submit="updateUser($stateParams.userId)">
            <div class="user-info">
                <div class="small-field validation-field">
                    <label>FIRST NAME</label>
                    <input type="text" name="firstName" required
                           placeholder="New user's first name"
                           ng-model="user.firstName"
                           ng-minlength="2"
                           ng-maxlength="60"
                           ng-trim="true">

                    <div errorsblock="errors.firstName"></div>
                </div>
                <div class="small-field validation-field">
                    <label>LAST NAME</label>
                    <input type="text" name="lastName" required
                           placeholder="New user's last name"
                           ng-model="user.lastName"
                           ng-minlength="2"
                           ng-maxlength="60"
                           ng-trim="true">

                    <div errorsblock="errors.lastName"></div>
                </div>
                <div class="small-field validation-field">
                    <label>USERNAME</label>
                    <input type="text" name="username" required
                           placeholder="New username"
                           ng-model="user.username"
                           ng-minlength="5"
                           ng-maxlength="13"
                           ng-pattern="/^[a-zA-Z\d\.]+$/"
                           ng-trim="true"
                           ng-change="checkExistingUsername()">

                    <div errorsblock="errors.username"></div>
                </div>
                <div class="small-field validation-field">
                    <label>PHONE NUMBER</label>
                    <input type="text" name="phone" required
                           placeholder="New user's phone number"
                           ng-model="user.phone"
                           validatephonenumber>

                    <div errorsblock="errors.phone"></div>
                </div>
                <div class="long-field validation-field" ng-if="user.permission !== 'fieldWorker'">
                    <label>EMAIL</label>
                    <input type="email" name="email" required
                           placeholder="New user's email address"
                           ng-model="user.email"
                           ng-minlength="3"
                           ng-maxlength="60"
                           ng-class="{error: errorEmail}"
                           ng-trim="true"
                           ng-change="checkExistingEmail()" >

                    <div errorsblock="errors.email"></div>
                </div>
            </div>
            <div class="user-pass">
                <div class="small-field validation-field">
                    <label>PASSWORD</label>
                    <input type="password" name="password"
                           placeholder="Change Password"
                           ng-model="user.password"
                           ng-change="errorPassword = false"
                           ng-minlength="8"
                           ng-maxlength="20"
                           ng-trim="true">

                    <div errorsblock="errors.password"></div>
                </div>
                <div class="small-field validation-field">
                    <label>CONFIRM PASSWORD</label>
                    <input type="password" name="confirmpass"
                           placeholder="Confirm Password"
                           ng-model="user.confirmpass"
                           ng-trim="true">

                    <div errorsblock>
                        <span class="error-message ng-hide"  ng-show="user.password !== user.confirmpass">Passwords do not match</span>
                    </div>
                </div>
                <div class="small-field" ng-if="user.permission !== 'superAdmin'">
                    <label>PERMISSION</label>
                    <select name="permission"
                            ng-model="user.permission">
                        <option selected="selected" value="admin">Admin</option>
                        <option value="operator">Operator</option>
                        <option value="fieldWorker">Field worker</option>
                    </select>
                </div>
            </div>

            <div class="info-msg">
                The phone number is used to send user credentials by SMS. Notification will be sent after pressing the 'Save Changes' button.
            </div>
            <span class="error-message" ng-show="errorInvalidVersion">
             This user's info has been changed. Please, refresh the page.
            </span>
            <input type="submit" value="Save changes" class="save-changes">
        </form>
    </div>
</div>