<div class="overlay" ng-click="goState('^')"></div>
<div class="window" ng-controller="EditUserCtrl">
    <div class="window-header">
        <h2>{{ 'edit_user.Edit_Details' | translate}}</h2>
        <div class="close-window" ng-click="goState('^')">&#10006;</div>
    </div>
    <div class="window-body">
        <form name="editUserForm" id="edit-user-form"  autocomplete="off"
              ng-model="editUserForm"
              ng-submit="updateUser($stateParams.userId)">
            <div class="user-info">
                <div class="small-field validation-field">
                    <label>{{ 'edit_user.FIRST_NAME' | translate }}</label>
                    <input type="text" name="firstName" required
                           placeholder="{{ 'edit_user.placeholder.FIRST_NAME' | translate }}"
                           ng-model="user.firstName"
                           ng-minlength="2"
                           ng-maxlength="60"
                           ng-trim="true">

                    <div errorsblock="errors.firstName"></div>
                </div>
                <div class="small-field validation-field">
                    <label>{{ 'edit_user.LAST_NAME' | translate }}</label>
                    <input type="text" name="lastName" required
                           placeholder="{{ 'edit_user.placeholder.LAST_NAME' | translate }}"
                           ng-model="user.lastName"
                           ng-minlength="2"
                           ng-maxlength="60"
                           ng-trim="true">

                    <div errorsblock="errors.lastName"></div>
                </div>
                <div class="small-field" ng-if="user.permission !== 'superAdmin'">
                    <label>{{ 'edit_user.PERMISSION' | translate }}</label>
                    <select name="permission"
                            ng-model="user.permission">
                        <option selected="selected" value="admin">Admin</option>
                        <option value="operator">Operator</option>
                        <option value="fieldWorker">Field worker</option>
                    </select>
                </div>
                <div class="small-field validation-field">
                    <label>{{ 'edit_user.USERNAME' | translate }}</label>
                    <input type="text" name="username" required
                           placeholder="{{ 'edit_user.placeholder.USERNAME' | translate }}"
                           ng-model="user.username"
                           ng-minlength="5"
                           ng-maxlength="13"
                           ng-pattern="/^[a-zA-Z\d\.]+$/"
                           ng-trim="true"
                           ng-change="checkExistingUsername()">

                    <div errorsblock="errors.username"></div>
                </div>
                <div class="small-field validation-field">
                    <label>{{ 'edit_user.PHONE_NUMBER' | translate }}</label>
                    <input type="text" name="phone" required
                           placeholder="{{ 'edit_user.placeholder.PHONE_NUMBER' | translate }}"
                           ng-model="user.phone"
                           validatephonenumber>

                    <div errorsblock="errors.phone"></div>
                </div>
                <div class="long-field validation-field" ng-if="user.permission !== 'fieldWorker'">
                    <label>{{ 'edit_user.EMAIL' | translate }}</label>
                    <input type="email" name="email" required
                           placeholder="{{ 'edit_user.placeholder.EMAIL' | translate }}"
                           ng-model="user.email"
                           ng-minlength="3"
                           ng-maxlength="60"
                           ng-class="{error: errorEmail}"
                           ng-trim="true"
                           ng-change="checkExistingEmail()" >

                    <div errorsblock="errors.email"></div>
                </div>
            </div>
            <div class="user-pass">
                <div class="small-field validation-field">
                    <label>{{ 'edit_user.PASSWORD' | translate }}</label>
                    <input type="password" name="password"
                           placeholder="{{ 'edit_user.placeholder.Change_PASSWORD' | translate }}"
                           ng-model="user.password"
                           ng-change="errorPassword = false"
                           ng-minlength="8"
                           ng-maxlength="20"
                           ng-trim="true">

                    <div errorsblock="errors.password"></div>
                </div>
                <div class="small-field validation-field">
                    <label>{{ 'edit_user.CONFIRM_PASSWORD' | translate }}</label>
                    <input type="password" name="confirmpass"
                           placeholder="{{ 'edit_user.placeholder.CONFIRM_PASSWORD' | translate }}"
                           ng-model="user.confirmpass"
                           ng-trim="true">

                    <div errorsblock>
                        <span class="error-message ng-hide"  ng-show="user.password !== user.confirmpass">
                            {{ 'errors.passwordsDoNotMatch' | translate }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="info-msg">
                {{ 'edit_user.info_msg_edit_form' | translate }}
            </div>
            <span class="error-message" ng-show="errorInvalidVersion">
                {{ 'edit_user.info_was_changed' | translate }}
            </span>
            <input type="submit" value="{{ 'edit_user.Save_changes' | translate }}" class="save-changes">
        </form>
    </div>
</div>