<div class="overlay" ng-click="goState('^')"></div>
<div class="window" ng-controller="UsersCtrl">
    <div class="window-header">
        <h2>Send an SMS to User</h2>
        <div class="close-window" ng-click="goState('^')">&#10006;</div>
    </div>
    <div class="window-body">
        <form name="sms-form" id="sms-form" ng-submit="sendSms()">
            <label>
                MESSAGE
            </label>
            <textarea placeholder="Enter your message there...." ng-model="smsText" name="smsText" maxlength="410"></textarea>
            <input type="submit" value="Send this SMS">
        </form>
    </div>
</div>