<div class="overlay" ng-click="goState('^')"></div>
<div class="window" ng-controller="ResultsCtrl">
    <div class="window-header">
        <h2>Schedule an Export</h2>
        <div class="close-window" ng-click="goState('^')">&#10006;</div>
    </div>
    <div class="window-body">

        <form name="exportScheduleForm" id="export-schedule" ng-model="exportScheduleForm" ng-submit="createSubscription()">
            <div class=".export-schedule">
                <p>All results received between the 2 dates will be emailed to the address entered below.</p>
                <div class="small-field validation-field">
                    <label>FROM</label>
                    <input type="text" name="from" id="from" class="select-field" required
                           readonly="readonly"
                           placeholder="{{today| date: 'dd/MM/yyyy'}}"
                           ng-model="schedule.from">
                    <div errorsblock="errors.from"></div>
                </div>

                <div class="small-field validation-field">
                    <label>TO</label>
                    <input type="text" name="to" id="to" class=" select-field" required
                           readonly="readonly"
                           placeholder="{{today| date: 'dd/MM/yyyy'}}"
                           ng-model="schedule.to">
                    <div errorsblock="errors.to"></div>
                </div>

                <div class="long-field validation-field">
                    <label>EMAIL TO</label>
                    <input type="email" name="email" required
                           placeholder="user@example.com"
                           ng-model="schedule.email"
                           ng-trim="true"
                           ng-change="errorEmailPattern = false">

                    <div errorsblock="errors.email"></div>
                </div>

                <ul class="actual-subscriptions" ng-if="subscriptions.length !== 0">
                    <p>Actual subscriptions </p>
                    <li ng-repeat="subscription in subscriptions" id={{subscription._id}}>
                        <div class="email tooltip" title="{{subscription.email}}">{{subscription.email}}</div>
                        <div class="from">{{subscription.from | date: 'dd/MM/yyyy'}}</div>
                        <div class="to">{{subscription.to | date: 'dd/MM/yyyy'}}</div>
                        <div class="delete-subscription" ng-click="deleteSubscription(subscription._id, $index)">&#10006;</div>
                    </li>
                </ul>

                <input type="submit" value="Schedule this Export" class="export-schedule-button">
            </div>
        </form>
    </div>
</div>