<div class="overlay" ng-click="goState('^')"></div>
    <div class="window">
        <div class="window-header">
            <h2>{{ 'results.survey_was_sent_to' | translate }}</h2>
            <div class="close-window" ng-click="goState('^')">&#10006;</div>
        </div>
        <div class="window-body" ng-controller="ResultsCtrl">
            <ul class="sent-to-user">
                <li ng-repeat="user in survey.sentToUsers">
                    {{user.firstName}} {{user.lastName}}
                </li>
            </ul>
        </div>
    </div>
</div>
