<div class="content">
    <div class="open-source-panel">
        <h1 class="center-text">OPEN SOURCE</h1>
        <span class="title light center-text">Nokia Data Gathering is an Open Source solution</span>
        <div class="block">
            <div class="column left">
                <p>We launched the open source version of Nokia Data Gathering on 30 July 2010, making the source code available to anyone for download, deployment and development. There are no licensing costs for using the software, the code base is public, and development occurs in a collaborative and community-driven manner.</p>
                <p>The open source model also empowers universities and local developers to participate in creating tools and services on top of the core solution, helping to build local capacity. This ultimately promotes innovation and entrepreneurship, and increases the sustainability of technology adoption.</p>
                <p>The Nokia Data Gathering Windows Phone client is licensed under Berkely Software Distribution BSD, a family of permissive free software licenses, imposing minimal restrictions on the redistribution of covered software.</p>
            </div>
            <div class="column right">
                <p>You can read the BSD license terms <a href="http://opensource.org/licenses/BSD-2-Clause">here</a>.</p>
                <p>The Nokia Data Gathering Playground Server and the Java client are both licensed under the GNU Lesser General Public License, <a href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL</a> which allows developers and companies to use and integrate the software into their own (even proprietary) software without being required to release the source code of their own software-parts.</p>
                <p>Nokia Data Gathering complies with Open Rosa standards for data collection.</p>
                <p>The Nokia Data Gathering source code and documentation repository is at <a href="https://github.com/nokiadatagathering" target="_blank">https://github.com/nokiadatagathering</a>.</p>
            </div>
        </div>
        <h1 class="center-text">GET INVOLVED</h1>
        <div class="block">
            <p>Here's how you can be a part of the Nokia Data Gathering developer and user community:</p>
            <ul class="open-source">
                <li><a href="https://github.com/nokiadatagathering">Get the source code</a> and develop Nokia Data Gathering</li>
                <li>Become a Nokia Data Gathering service partner</li>
                <li>Help us plan future software releases</li>
                <li>Translate the Nokia Data Gathering application into your language</li>
            </ul>
        </div>
    </div>
</div>