<div class="header">
    <div class="get-started">
        <a class="logo" ui-sref="pageGetStarted.homePage">
            <img src="../resources/icons/lolgo-30px.png">
            <h1>NOKIA <span>DATA GATHERING</span></h1>
        </a>
        <ul class="main-menu">
            <a ui-sref="pageGetStarted.getStarted"
               ng-class="{active: $state.includes('pageGetStarted.getStarted')}">
                <li>Get Started</li>
            </a>
            <a ui-sref="pageGetStarted.useCases"
               ng-class="{active: $state.includes('pageGetStarted.useCases')}">
                <li>Use Cases</li>
            </a>
            <a ui-sref="pageGetStarted.openSource"
               ng-class="{active: $state.includes('pageGetStarted.openSource')}">
                <li>Open Source</li>
            </a>
            <a ui-sref="pageGetStarted.support"
               ng-class="{active: $state.includes('pageGetStarted.support')}">
                <li>Support</li>
            </a>
        </ul>
        <ul class="user-menu">
            <a ui-sref="pageGetStarted.login"
               ng-class="{active: $state.includes('pageGetStarted.login')}">
                <li>Login  </li>
            </a>

            <a ui-sref="pageGetStarted.register"
               ng-class="{active: $state.includes('pageGetStarted.register')}">
                <li>/  Register</li>
            </a>
        </ul>
    </div>

</div>

<div ui-view></div>