<div class="header" ng-controller="PageCtrl">
    <div ng-if="offlineMode" class="offline-block">
        <span ng-if="!offlineNotSupport">{{'offlineMode' | translate}}</span>
        <span ng-if="offlineNotSupport">{{'offlineNotSupport' | translate}}</span>
        <input type="button" value="{{ 'Synchronize' | translate }}" ng-click="sync()">
    </div>
    <div class="header" ng-class="{offlineMode: offlineMode === true}">

        <div class="home">
            <a class="logo" ui-sref="page.surveys" ng-click="activateTab('activeSurvey', 'activeUser')">
                <img src="../resources/icons/lolgo-30px.png">
                <h1>MICROSOFT <span>DATA GATHERING</span></h1>
            </a>
            <ul class="main-menu">
                <a ui-sref="page.surveys"
                   ng-class="{active: $state.includes('page.surveys') ||
                                      $state.includes('page.results') ||
                                      $state.includes('page.map') ||
                                      $state.includes('page.builder') ||
                                      $state.includes('page.editsurvey') ||
                                      $state.includes('page.archive')
                             }">
                    <li>{{'header.surveys' | translate}}</li>
                </a>
                <a ng-if="loggedInUser.permission !== 'operator'"
                   ui-sref="page.users.group({groupId: ''})"
                   ng-class="{active: $state.includes('page.users')}">
                    <li>{{'header.users' | translate}}</li>
                </a>
            </ul>

            <!--div>DROPDOWNS TRANSLATE</div-->
            <div ng-show="false" ng-repeat="item in dropdownList" >
                {{dropdownList[$index].text = (item.translateId | translate) }}
            </div>
            <!--div>DROPDOWNS TRANSLATE</div-->

            <div class="user-menu">
                <a
                    dropdown-menu="langauges"
                    dropdown-onchange="changeLanguage(selected)">
                    {{'header.language' | translate}}
                </a>
                <span class="version" ng-if="version">v{{version}}</span>
                <a
                    dropdown-menu="dropdownList"
                    dropdown-model="dropdownSelect"
                    dropdown-onchange="selectMenu(selected)">
                    {{loggedInUser.username}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="notifications"></div>
<div ui-view></div>
