<div class="content">
    <div ng-controller="LoginCtrl" class="register-panel">
        <h1 class="center-text">REGISTER</h1>
        <form ng-model="registerForm"
              name="registerForm"
              ng-controller="RegisterCtrl"
              ng-submit="signUp()"
              class="register-form">

            <div class="small-field validation-field">
                <input type="text" name="firstName" required
                       placeholder="First name"
                       ng-model="user.firstName"
                       ng-minlength="2"
                       ng-maxlength="60"
                       ng-trim="true">
                <div errorsblock="errors.firstName"></div>
            </div>

            <div class="small-field validation-field">
                <input type="text" name="lastName" required
                       placeholder="Last name"
                       ng-model="user.lastName"
                       ng-minlength="2"
                       ng-maxlength="60"
                       ng-trim="true">
                <div errorsblock="errors.lastName"></div>
            </div>

            <div class="small-field validation-field">
                <input type="text" name="username" required
                       placeholder="Username"
                       ng-model="user.username"
                       ng-minlength="5"
                       ng-maxlength="13"
                       ng-pattern="/^[a-zA-Z\d\.]+$/"
                       ng-trim="true"
                       ng-change="checkExistingUsername()">
                <div errorsblock="errors.username"></div>
            </div>

            <div class="small-field validation-field">
                <input type="email" name="email" required
                       placeholder="Email"
                       ng-model="user.email"
                       ng-class="{error: errorEmail}"
                       ng-trim="true"
                       ng-change="errorEmailPattern=false">
                <div errorsblock="errors.email"></div>
            </div>

            <div class="small-field validation-field">
                <input type="password" name="password" required
                       placeholder="Password"
                       ng-model="user.password"
                       ng-minlength="8"
                       ng-maxlength="20"
                       ng-trim="true">
                <div errorsblock="errors.password"></div>
            </div>

            <div class="small-field validation-field">
                <input type="password" name="confirmpass" required
                       placeholder="Confirm password"
                       ng-model="user.confirmpass"
                       ng-trim="true">
                <div errorsblock>
                    <span class="error-message ng-hide"  ng-show="user.password !== user.confirmpass">Passwords do not match</span>
                </div>
            </div>

            <div class="small-field validation-field">
                <input type="text" name="phone" required
                       placeholder="Phone number"
                       ng-model="user.phone"
                       validatephonenumber
                       ng-trim="true">
                <div errorsblock="errors.phone"></div>
            </div>

            <div class="small-field validation-field">
                <input type="text" name="company" required
                       placeholder="Company"
                       ng-model="user.company"
                       ng-minlength="3"
                       ng-maxlength="60"
                       ng-trim="true"
                       auto-complete
                       autocomplete-type="company">
                <div errorsblock="errors.company"></div>
            </div>

            <div class="small-field validation-field">
                <input type="text" name="industry" required
                       placeholder="Industry"
                       ng-model="user.industry"
                       ng-minlength="3"
                       ng-maxlength="60"
                       ng-trim="true"
                       auto-complete
                       autocomplete-type="industry">
                <div errorsblock="errors.industry"></div>
            </div>

            <div class="small-field validation-field">
                <select name="country"
                        ng-model="user.country"
                        ng-options="value for value in countries"
                        required>
                    <option value="">Country</option>
                 </select>
                <div errorsblock="errors.country"></div>
            </div>

            <input type="submit" value="Create Account" class="sign-up-btn">
        </form>
    </div>
    <div class="modal" ui-view ></div>
</div>
