<div class="content">
    <div class="reset-password-panel" ng-controller="ResetPasswordCtrl">
        <h1 class="center-text">RESET PASSWORD</h1>
        <form ng-model="resetPasswordForm"
              name="resetPasswordForm"
              ng-show="!invalidToken"
              autocomplete="off"
              ng-submit="resetPassword()"
              class="reset-password-form">

            <div class="small-field validation-field">
                <input type="password" name="password" required
                       placeholder="Enter new password..."
                       ng-model="password"
                       ng-minlength="8"
                       ng-maxlength="20"
                       ng-trim="true">
                <div errorsblock="errors.password"></div>
            </div>

            <div class="small-field validation-field">
                <input type="password" name="confirmpass" required
                       placeholder="Confirm new password..."
                       ng-model="confirmpass"
                       ng-trim="true">
                <div errorsblock>
                    <span class="error-message ng-hide"  ng-show="password !== confirmpass">Passwords do not match</span>
                </div>
            </div>
            <input type="submit" value="Apply" class="reset-btn">
        </form>
        <div ng-show="invalidToken" class="reset-password-form">
            <p class="dark-gray light">Password reset token is invalid or has expired.</p>
        </div>
    </div>
</div>
