<div class="content">
    <div ng-controller="ResultsCtrl">
        <div class="topic">
            <input type="button" class="schedule-export" value="Schedule an Export" ng-click="modalExportSchedule()">
            <h1> {{survey.resultsCount}} results for <span>{{survey.title}}</span></h1>
            <p>Sent to <a ng-click="modalSentTo()"> {{survey.sentToUsers.length}} users</a></p>
        </div>
        <div ng-controller="ResultsOnMapCtrl" class="map-panel">
            <input class="search-field" type="search" placeholder="Search Title or Data Collector..." ng-model="searchQuery">
            <div class="close-window" ng-click="goState('page.results')">&#10006;</div>
            <div id="mapContainer"></div>
            <div id="uiContainer"></div>
        </div>
    </div>
    <div class="modal map-details" ui-view></div>
</div>