<div class="content">

    <div class="survey-panel" ng-controller="SurveysCtrl">
        <div class="function-bar">
            <input class="button-plus left" type="button" value="{{ 'surveys.Create_Survey' | translate }}" ng-click="goState('page.builder')">
            <input file-select="surveyXML" type="file" class="button-icon single" name="files" ng-disabled="offlineMode">
            <span class="caption" ng-if="!fileTypeError">{{ 'surveys.Upload_XML_survey' | translate }}</span>
            <span class="caption" ng-if="fileTypeError">{{ 'surveys.Only_XML_file_format' | translate }}</span>
            <input type="button" class="button-icon single upload" ng-disabled="offlineMode">
            <div class="right">
                <input type="button" class="button-icon single browse-archive"
                       ng-click="goState('page.archive')" ng-disabled="offlineMode">
                <span class="caption">{{ 'surveys.Browse_archive' | translate }}</span>

                <!--div>DROPDOWNS TRANSLATE</div-->
                <div ng-show="false" ng-repeat="item in dropdownList" >
                    {{dropdownList[$index].text = (item.translateId | translate) }}
                </div>
                <div ng-show="false">
                    {{dropdownSelect.text = (dropdownSelect.translateId | translate)}}
                </div>
                <!--div>DROPDOWNS TRANSLATE</div-->

                <div dropdown-select="dropdownList"
                     dropdown-model="dropdownSelect"
                     dropdown-item-label="text"
                     class="left">
                </div>
                <input class="search-field right" type="search" placeholder="{{ 'surveys.Search_Name_Publisher' | translate }}" ng-model="q">
            </div>
        </div>

        <div class="column-header">
            <div>
                <div class="circle"
                     ng-click="predicate = 'published'; reverse=!reverse"
                     ng-class="{green : publishedGreen}"
                     ng-mouseover="publishedGreen=true;"
                     ng-mouseout="publishedGreen=false;"></div>
            </div>
            <div class='name' ng-click="predicate = 'title'; reverse=!reverse">
                <span>{{ 'table_header.NAME' | translate }}</span>
            </div>
            <ul>
                <li class="results"
                    ng-click="predicate = 'resultsCount'; reverse=!reverse">{{ 'table_header.RESULTS' | translate }}
                </li>
                <li class="publisher"
                    ng-click="predicate = '_creator.name'; reverse=!reverse">{{ 'table_header.PUBLISHER' | translate }}</li>
                <li class="date"
                    ng-click="predicate = 'dateCreated'; reverse=!reverse">{{ 'table_header.DATE' | translate }}</li>
            </ul>
        </div>

        <ul class="list-box">
            <li class="item" id="{{survey.id}}"
                ng-repeat="survey in filtered = (surveys | deletedItemsFilter : 'surveys') | filter:q | orderBy:predicate:reverse"
                ng-if="(dropdownSelect.value == 'all')||(((dropdownSelect.value == 'published') && survey.published)||((dropdownSelect.value == 'unpublished') && !survey.published))"
                style=" display: {{survey.hidden ? 'none' : 'block'}};">
                <div>
                    <div class="circle" ng-class="{green : survey.published}"></div>
                </div>
                <div class="name">
                    <h4 title="{{survey.title}}">{{survey.title}}</h4>
                    <span class="id" title="{{survey.id}}">ID: {{survey.id}}</span>
                </div>
                <div class="options">
                    <input type="button" class="button-icon single edit"
                           ng-click="goState('page.editsurvey',{surveyId: survey.id})"
                           ng-show="!survey.published">
                    <span class="caption" ng-show="!survey.published">{{ 'surveys.Edit_survey' | translate }}</span>

                    <input type="button" class="button-icon single archive add-to-archive"
                           ng-click="archive(survey.id, survey.title, true)" ng-disabled="offlineMode"
                           ng-show="survey.published">
                    <span class="caption" ng-show="survey.published">{{ 'surveys.Move_to_archive' | translate }}</span>

                    <ul class="button-group">
                        <li>
                            <input type="button" class="download"
                                ng-click="downloadSurvey(survey.id)" ng-disabled="offlineMode">
                            <span class="caption">{{ 'surveys.Download_survey' | translate }}</span>
                        </li><li>
                        <input type="button" class="send"
                               ng-click="goState('page.surveys.sendsurvey',{surveyId: survey.id})">
                        <span class="caption">{{ 'surveys.Publish_survey' | translate }}</span>
                    </li><li>
                        <input type="button" class="copy"
                               ng-click="duplicateSurvey(survey.id, survey.title)" ng-disabled="offlineMode">
                        <span class="caption">{{ 'surveys.Duplicate_survey' | translate }}</span>
                    </li><li>
                        <input type="button" class="delete"
                               ng-click="deleteSurvey(survey)" ng-disabled="survey.published">
                        <span class="caption" ng-if="!survey.published">{{ 'surveys.Delete_survey' | translate }}</span>
                        <span class="caption surveypublished" ng-if="survey.published">{{ 'surveys.Can_not_be_deleted' | translate }}</span>

                    </li>
                    </ul>
                </div>
                <ul class="data">
                    <li class="results left">
                        <span class="void" ng-if="survey.resultsCount === 0">0</span>
                        <a ui-sref="page.results({surveyId: survey.id})"
                           href="#/survey:{{survey.id}}"
                           ng-if="survey.resultsCount != 0">{{survey.resultsCount}}</a>
                    </li>
                    <li class="publisher">{{survey._creator.name}}</li>
                    <li class="date">{{survey.dateCreated | date : 'dd/MM/yyyy'}}</li>
                </ul>
            </li>
        </ul>
        <div ui-view class="modal"></div>
    </div>
</div>
