!!!
html
    head
        title= title
        meta(charset='utf-8')
        meta('http-equiv'='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='initial-scale=1.0')

        link(rel="stylesheet" type="text/css" href="/resources/stylesheets/homePage.css")
        link(rel='stylesheet', href='bower_components/jquery-ui/themes/smoothness/jquery-ui.css')

        script(src='bower_components/jquery/jquery.js')
        script(src='bower_components/jquery-ui/ui/minified/jquery-ui.min.js')
        script(src='bower_components/jquery-ui/ui/minified/jquery.ui.autocomplete.min.js')
        script(src='home.js')

    body
        include ../html/header.html

        include ../html/home.html
        include ../html/getStarted.html
        include ../html/useCases.html
        include ../html/openSource.html
        include ../html/support.html

        include ../html/forgotPassword.html

        include ../html/login.html
        include ../jade/successRegistration.jade
        include ../html/register.html

        div(class="small-field validation-field")
            select(id="country" required onkeyup="hideError(this)")
                option Country
                each country in countries
                    option(value=country) #{country}
            div(class="errorsblock")
                span(class="country error-message" style="display: none;")

        input(type="button" value="Create Account" class="sign-up-btn" onclick="register()")
