<div class="content forgotPassword">
    <div class="panel">
        <h1 class="center-text">FORGOT YOUR PASSWORD?</h1>
        <form name="ForgotPasswordForm"
              autocomplete="off"
              class="forgot-password-form first">
            <p class="dark-gray light">Please enter your username and email to reset your password.</p>
            <p class="dark-gray light">If you forgot your username, please enter your email only and we will send all usernames related to this email.</p>
            <div class="small-field">
                <input type="text"
                       id="username"
                       placeholder="Username...">
            </div>

            <div class="small-field validation-field">
                <input type="email"
                       id="email"
                       placeholder="Email..."
                       required>
            </div>
            <input type="button"  value="Proceed" class="forgot-btn" onclick="forgotpassword()">
        </form>
        <div class="forgot-password-form second"  style="display: none">
            <p class="dark-gray light">If you have entered a valid email, please check it for further instructions.</p>
        </div>
    </div>
</div>
