<div class="content getstarted">
    <div class="panel">
        <h1 class="center-text">GET STARTED</h1>
        <h3 class="center-text">If you have your own server and wish to migrate your data to this release of MDG the tool to do that is available
            <a href="http://github.com/nokiadatagathering/ndg-migration"> here</a>
        </h3>
        <ul class="steps">
            <a name="step1"></a>
            <li>
                <img class="image" src="../resources/images/getstarted_step1.png">
                <div class="step-info">
                    <h2>Step 1: Register to the Microsoft Data Gathering Playground Server</h2>
                    <p>The ﬁrst thing you need to do is to ﬁll in the user registration form and create an account on the Microsoft Data Gathering playground server. You can do this by clicking
                        <a href="#register" name="register" onclick="chooseTab(this)">
                            register on the homepage
                        </a>.
                    </p>
                </div>
            </li>

            <a name="step2"></a>
            <li>
                <img class="image" src="../resources/images/getstarted_step2.png">
                <div class="step-info">
                    <h2>Step 2: Create a survey</h2>
                    <p>After you've conﬁrmed your account and logged in to the server, you can start writing your own questionnaire using the survey editor. You can choose different question types, set default answers or limits and even use skip logic to write your questionnaire.</p>
                </div>
            </li>

            <a name="step3"></a>
            <li>
                <img class="image" src="../resources/images/getstarted_step3.png">
                <div class="step-info">
                    <h2>Step 3: Download the Microsoft Data Gathering mobile application</h2>
                    <p>To ﬁll in your questionnaire on a mobile device, you need to download and install one of the Microsoft Data Gathering mobile applications.</p>
                    <div class="download-app">
                        <p>Download the <a href="http://www.windowsphone.com/en-us/store/app/nokia-data-gathering/a2bd7f51-6c7f-48d4-9fa7-12b35c550848">Windows Phone app</a>.</p>
                        <p>Download the <a href="https://nokiadatagathering.net/ndg-ota/client/ndg.jad">Java app</a>.</p>
                        <p>Download the <a href="http://apps.microsoft.com/windows/app/nokia-data-gathering/4780fc68-fc8b-4db4-8cf7-110fe07dac42">Windows Tablet app</a>.</p>
                    </div>
                </div>
            </li>

            <a name="step4"></a>
            <li>
                <img class="image" src="../resources/images/getstarted_step4.png">
                <div class="step-info">
                    <h2>Step 4: Add users and make your survey available to them</h2>
                    <p>You can publish your questionnaire to your ﬁeld data collectors by adding them to your main account in the Users section, organizing them into groups and giving them different access permissions. You can make your questionnaire available to as many users as you like. You can also send SMS notiﬁcations to your user groups.</p>
                </div>
            </li>

            <a name="step5"></a>
            <li>
                <img class="image"  src="../resources/images/getstarted_step5.png">
                <div class="step-info">
                    <h2>Step 5: Fill in the survey and send your results on your mobile device</h2>
                    <p>Open the Microsoft Data Gathering app you downloaded onto your mobile device in Step 3, and login with your user credentials. The surveys that were made available to you in Step 4 will be listed on the app. Just open the survey you want and create a new result by entering the requested data in the blank ﬁelds.</p>
                    <p>You can send your results back to the server immediately, or save them on the phone to send later.</p>
                </div>
            </li>

            <a name="step6"></a>
            <li>
                <img class="image" src="../resources/images/getstarted_step6.png">
                <div class="step-info">
                    <h2>Step 6: View and export your results</h2>
                    <p>Go back to your Playground Server account and take a look at all the results you've received. You can map your geo-tagged data on Microsoft Maps, look at trends as simple graphs, or export your data in XLS or KML formats for further data analysis.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
