<!DOCTYPE html>
<html>
<head>
    <title>MDG</title>
    <link rel="stylesheet" type="text/css" href="/resources/stylesheets/homePage.css">
    <script src='bower_components/jquery/jquery.js'></script>
    <script src='getStarted/login.js'></script>
</head>
<body>
<div class="header">
    <div class="get-started light">
        <a class="logo left" href="/home">
            <img class="left" src="../resources/icons/lolgo-30px.png">
            <h1 class="light left">MICROSOFT <span class="bold">DATA GATHERING</span></h1>
        </a>
        <ul class="main-menu left">
            <a href="/getstarted">
                <li>Get Started</li>
            </a>
            <a href="/useCases">
                <li>Use Cases</li>
            </a>
            <a href="/openSource">
                <li>Open Source</li>
            </a>
            <a href="/support">
                <li>Support</li>
            </a>
        </ul>
        <ul class="login-menu">
            <a href="/login" class="active">
                <li>Login  </li>
            </a>

            <a href="/register">
                <li>/  Register</li>
            </a>
        </ul>
    </div>
</div>

<div class="content">
    <div class="panel">
        <h1 class="center-text">LOGIN</h1>
        <form name="loginForm"
              autocomplete="off"
              class="login-form">
            <div class="small-field">
                <input type="text"
                       placeholder="Enter your username..."
                       id="username"
                       name="username"
                       value=""
                       onkeyup="hideError()"
                       required>
            </div>

            <div class="small-field validation-field">
                <input type="password"
                       placeholder="Enter your password..."
                       id="password"
                       name="password"
                       value=""
                       onkeyup="hideError()"
                       required>
                <div class="errorsblock">
                    <span class="login error-message" style="display: none;"></span>
                </div>
            </div>
            <a href="/forgotPassword">Forgot your password?</a>
            <input type="button" value="Login" class="login-btn" onclick="login()">
        </form>
    </div>
</div>
</body>
</html>