<div class="header">
    <div class="get-started light">
        <a class="logo left" href="/home">
            <img class="left" src="../resources/icons/lolgo-30px.png">
            <h1 class="light left">MICROSOFT <span class="bold">DATA GATHERING</span></h1>
        </a>
        <ul class="main-menu left">
            <a href="/getstarted">
                <li>Get Started</li>
            </a>
            <a href="/useCases">
                <li>Use Cases</li>
            </a>
            <a href="/openSource">
                <li>Open Source</li>
            </a>
            <a href="/support">
                <li>Support</li>
            </a>
        </ul>
        <ul class="login-menu">
            <a href="/login">
                <li>Login  </li>
            </a>

            <a href="/register" class="active">
                <li>/  Register</li>
            </a>
        </ul>
    </div>
</div>

<div class="content">
    <div class="panel">
        <h1 class="center-text">REGISTER</h1>
        <form name="registerForm"
              class="register-form">

            <div class="small-field validation-field">
                <input type="text" id="firstName" required
                       onkeyup="hideError(this)"
                       placeholder="First name">
                <div class="errorsblock">
                    <span class="firstName error-message" style="display: none;"></span>
                </div>
            </div>

            <div class="small-field validation-field">
                <input type="text" id="lastName" required
                       onkeyup="hideError(this)"
                       placeholder="Last name">
                <div class="errorsblock">
                    <span class="lastName error-message" style="display: none;"></span>
                </div>
            </div>

            <div class="small-field validation-field">
                <input type="text" id="username" onblur="checkUniqueUsername()" required
                       onkeyup="hideError(this)"
                       placeholder="Username">
                <div class="errorsblock">
                    <span class="username error-message" style="display: none;"></span>
                </div>
            </div>

            <div class="small-field validation-field">
                <input type="email" id="email" required
                       onkeyup="hideError(this)"
                       placeholder="Email">
                <div class="errorsblock">
                    <span class="email error-message" style="display: none;"></span>
                </div>
            </div>

            <div class="small-field validation-field">
                <input type="password" id="password" required
                       onkeyup="hideError(this)"
                       placeholder="Password">
                <div class="errorsblock">
                    <span class="password error-message" style="display: none;"></span>
                </div>
            </div>

            <div class="small-field validation-field">
                <input type="password" id="confirmpass" required
                       onkeyup="hideError(this)"
                       placeholder="Confirm password">
                <div class="errorsblock">
                    <span class="password confirmpass error-message" style="display: none;"></span>
                </div>
            </div>

            <div class="small-field validation-field">
                <input type="text" id="phone" onkeyup="checkPhone(this)" onpaste="checkPhone()" required
                       placeholder="Phone number">
                <div class="errorsblock">
                    <span class="phone error-message" style="display: none;"></span>
                </div>
            </div>

            <div class="small-field validation-field">
                <input type="text" id="company" required
                       onclick="hideError(this)"
                       placeholder="Company">
                <div class="errorsblock">
                    <span class="company error-message" style="display: none;"></span>
                </div>
            </div>

            <div class="small-field validation-field">
                <input type="text" id="industry" required
                       onkeyup="hideError(this)"
                       placeholder="Industry">
                <div class="errorsblock">
                    <span class="industry error-message" style="display: none;"></span>
                </div>
            </div>


