<div class="content support">
    <div class="panel">
        <h1 class="center-text">SUPPORT</h1>
        <div class="block">
            <p>How to get support:</p>
            <ul class="support">
                <li><a href="/docs">Read the Microsoft Data Gathering user guide and documentation</a></li>
                <li>Access the <a href="https://github.com/nokiadatagathering">Microsoft Data Gathering code repository</a></li>
                <li>Send an email to <a href="mailto:support@nokiadatagathering.net">support@nokiadatagathering.net</a>.</li>
            </ul>
        </div>
        <h1 class="center-text">FREQUENTLY ASKED QUESTIONS</h1>
        <div class="block">
            <div class="column left">
                <h3 class="blue light">1) What are the benefits of mobile data collection?</h3>
                <p>The key benefits of mobile data collection are speed, accuracy, cost efficiency and usability. Please see the
                    <a href="#benefits" name="home" onclick="chooseTab(this)">benefits section on the homepage</a> for more on benefits.</p>

                <h3 class="blue light">2) How is Microsoft Data Gathering used in the field?</h3>
                <p>When time is of the essence, rapidly available, accurate information is critical for sound decision-making in any kind of organization.</p>
                <p>For example: In Brazil, the Amazonas State Health Department and the Health Vigilance Foundation have used Microsoft Data Gathering to monitor and control the spread of dengue fever.</p>
                <p>In East Africa, the Food and Agriculture Organization has conducted water and livestock surveys to reduce the risk of vulnerable communities to drought.</p>
                <p>In Kenya, Plan Finland has worked with the Kenyan government to register births using Microsoft Data Gathering.</p>
                <p>For more on use cases, please see the <a href="#" name="useCases" onclick="chooseTab(this)">use cases page</a>.</p>

                <h3 class="blue light">3) Does it cost anything to use Microsoft Data Gathering?</h3>
                <p>Nokia Data Gathering is an open source solution so there are no licensing fees or charges for using the software. For more on open source, please see the
                    <a href="#" name="openSource" onclick="chooseTab(this)">open source page</a>.
                </p>
                <p>Of course, there are costs associated with the hardware (mobile phones, servers, SIM cards) necessary for using Nokia Data Gathering, as well as the implementation of a data collection project. These costs must be scoped and borne by the organization using the solution.</p>

                <h3 class="blue light">4) What are the license terms for Microsoft Data Gathering?</h3>
                <p>The Microsoft Data Gathering Windows Phone client is licensed under the open source Berkeley Software Distribution (BSD) License family. The Microsoft Data Gathering Playground Server and the Java client are both licensed under the GNU Lesser General Public License (ILGPL).Microsoft Data Gathering complies with the standards of the OpenROSA Consortium on mobile data collection.</p>
                <p>For more on our licenses, please see the <a href="#" name="openSource" onclick="chooseTab(this)">open source page</a>.</p>
            </div>
            <div class="column right">
                <h3 class="blue light">5) Which devices are compatible with Microsoft Data Gathering?</h3>
                <p>The Windows Phone version of the Microsft Data Gathering mobile client is a Silverlight application for Windows Phone 7 and a Cordova/Sensa Touch application for Windows Phone 8. The Windows Tablet version runs on Windows RT devices. The Java application runs on Symbian and Nokia OS devices.</p>
                <p>If you have a specific query about device compatibility, please let us know by sending an email to <a
                        href="mailto:support@nokiadatagathering.net">support@nokiadatagathering.net</a>.</p>

                <h3 class="blue light">6) Where can I find the Microsoft Data Gathering source code?</h3>
                <p>You can get the source code at <a href="https://github.com/nokiadatagathering" target="_blank">https://github.com/nokiadatagathering</a>.</p>

                <h3 class="blue light">7) How can I host my own server data?</h3>
                <p>The instructions for setting up and hosting your own server are contained in the
                    <a href="https://github.com/nokiadatagathering/ndgdocs/blob/master/README">README</a>.</p>

                <h3 class="blue light">8) What are the previous versions of Microsoft Data Gathering?</h3>
                <p>Please see our <a>release archive</a> for more information on previous releases of Microsoft Data Gathering.</p>

                <h3 class="blue light">9) Can students work on Microsoft Data Gathering?</h3>
                <p>Yes. Please see the description of our <a href="#" name="openSource" onclick="chooseTab(this)">University Collaboration Program</a>.</p>

                <h3 class="blue light">10) Can I translate the Microsoft Data Gathering mobile client into my language?</h3>
                <p>Yes. Please get in touch with us at <a href="mailto:support@nokiadatagathering.net">support@nokiadatagathering.net</a> and work with us to provide a translation of the software in
                    your language. We will then push this out and make the language version available to all users.</p>
            </div>
        </div>
    </div>
</div>
