.error {
  display: none;
  color: red;
  margin: 30px 0 0 40px;
}

.results li {
  list-style: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  width: 100%;
  font-size: 16px;
}

.results li:nth-child(odd) {
  background: #DFDFDF;
}

.results li.active {
  background: #aaaaaa;
}

.results {
  width: 422px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  margin-top: 35px;
  padding: 0px;
  border: 1px solid #DFDFDF;
}

.user {
  height: 30px;
  width: 400px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  outline: none;
  display: inline-block;
  float: left;
  font-size: 16px;
}

.btn-delete-user {
  display: inline-block;
  border: 0;
  margin-left: 20px;
  width: 100px;
  height: 33px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background-color: #7fba00;
  outline: none;
}
