.b-surveys {
  display: table;
  width: 100%;

  &__left-content {
    display: table-cell;
    width: auto;
    padding-right: 36px;
  }

  &__right-content {
    display: table-cell;
    width: 318px;
    vertical-align: top;
  }
}

.b-surveys-table {

  background-color: $gray-light;

  &__dropdown {
    width: 200px;
    height: 30px;
    background: #FFF;
    font-size: 16px;
    float: left;
    line-height: 32px;
    padding-right: 16px;
  }

  &__top {
    padding: 12px 30px;
    height: 42px;
    position: relative;

    &--back {
      background: none;
      border: none;
      color: $blue;
    }

    &--title {

      color: $blue;
      font-size: 36px;
      font-weight: 100;

      .fa {
        font-size: 36px;
        margin-right: 36px;
        cursor: pointer;
      }
    }

    &--right {
      float: right;
    }

    &--left {
      position: relative;
      float: left;

      .e-create-btn {
        display: inline-block;
        float: left;
      }
    }

    &__icon {
      display: inline-block;
      width: 36px;
      height: 36px;
      margin: 0 36px;
      float: left;
      position: relative;

      &--upload {
        background: url("../assets/icons/upload.png") no-repeat;

        /* outline styles for focused invisible input element */
        &.selected {
          outline-color: $gray;
          outline-style: dashed;
          outline-width: 1px;
        }

        &--file {
          width: 42px;
          height: 42px;
          opacity: 0;
          cursor: pointer;

          &:focus {
            opacity: 0;
          }

          &:focus, &:hover {
            & ~ .button-title {
              visibility: visible;
            }
          }
        }

        .button-title {
          @include button-title;
        }
      }

      &--folder{
        background: url("../assets/icons/folder.png") no-repeat;
        cursor: pointer;
        background-color: transparent;
        border: none;
      }
    }
  }
}

.b-surveys__right-content__search-title {
  font-size: 18px;
  font-weight: lighter;
  color: $gray-text;
  margin: 0;
  line-height: 60px;
  height: 60px;
}

.b-surveys-edit {
  &__header {

    &__name {
      color: $red;
      font-weight: bold;
      font-size: 30px;
      display: inline-block;
      float: left;
      min-width: 200px;
      @include text-ellipsis(50%);

      &--edit.fa {
        color: $blue;
        font-size: 30px;
        margin: 0 12px;
      }

      &--input {
        width: auto;
        min-width: 200px;
        max-width: 50%;
        height: 35px;
        border: none;
        border-bottom: 1px solid $green;
        font-size: 30px;
        background: transparent;
        margin: 0;

        &:active {
          outline: none;
        }
      }
    }

    &__save-btn {
      display: inline-block;
      float: right;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &--text {
        color: $red;
        font-size: 30px;
        font-weight: bold;

        &:hover {
          color: lighten($red, 10%);
        }

        &--results {
          color: $green;
          text-decoration: none;

        }
      }

      &--icon.fa {
        color: $blue;
        font-size: 30px;
        margin: 0 12px;

        &:hover {
          color: lighten($blue, 10%);
        }
      }
    }
  }
  &__category {
    margin-top: 12px;

    &__top {
      background-color: $green;
      color: #fff;
      font-size: 18px;
      padding: 12px;

      &__new-question-btn {
        float: right;
        color: #FFFFFF;
        cursor: pointer;
        display: block;
        background-color: transparent;
        font-size: 18px;
        border: none;
      }

      &--title {
        display: inline-block;
        float: left;
        min-width: 200px;
        @include text-ellipsis(50%);
      }

      &--caret{
        float: left;
        line-height: 18px;
        margin-right: 4px;
      }

      &--edit-input {
        width: auto;
        min-width: 200px;
        max-width: 50%;
        border: none;
        border-bottom: 1px solid white;
        font-size: 18px;
        background: transparent;
        margin: 0;
        color: white;

        &:active {
          outline: none;
        }
      }

      &--move-btns {
        display: inline-block;
        margin: 0 12px;
      }
    }

    &__question {
      padding: 12px;

      &__header {
        position: relative;
        height: 42px;
        line-height: 42px;

        &__title {
          font-size: 24px;
          color: $gray-text;
          display: inline-block;

          &--text {
            display: inline-block;
            float: left;
            margin-right: 12px;
            @include text-ellipsis(500px);
          }

          &--caret {
            float: left;
            line-height: 36px;
            margin-right: 4px;
          }

          &--edit-input {
            width: auto;
            min-width: 200px;
            max-width: 400px;
            border: none;
            border-bottom: 1px solid $green;
            font-size: 24px;
            background: transparent;
            margin: 0;

          }
        }
        &__rules {
          float: right;
          display: inline-block;

          .e-select {
            @include select(200px, 36px, $gray-light);
            display: inline-block;
          }

          &__checkbox {
            display: inline-block;
            float: right;
            height: 36px;
            line-height: 36px;
            margin: 0 36px 0 18px;

            &--icon {
              font-size: 18px;
              margin: 0 6px;
              color: $green;
            }

            &--label {
              font-size: 18px;
              color: $gray-text;
            }

            &--input {
              width: 18px;
              height: 18px;
            }
          }
        }

        &--move-btns {
          display: inline-block;
          margin: 0 12px;
        }
      }

      &__body {
        margin: 24px;

        &__done-btn {
          color: $red;
          font-size: 30px;
          display: inline-block;
          font-weight: bold;
          cursor: pointer;
          background-color: transparent;
          border: none;
        }
      }
    }
  }

  &__add-category-btn {
    display: block;
    background-color: transparent;
    border: none;
    margin: 24px auto 6px;
    cursor: pointer;

    &--text {
      color: $red;
      font-size: 30px;
      font-weight: bold;

      &:hover {
        color: lighten($red, 10%);
      }
    }

    &--icon.fa {
      color: $green;
      font-size: 30px;
      margin: 0 12px;

      &:hover {
        color: lighten($green, 10%);
      }
    }
  }
}

$modalW: 500px;
$modalH: 400px;

.b-send-survey {
  width: $modalW;
  height: $modalH;
  margin-left: -($modalW/2);

  .b-modal-window__main-block__body {
    height: $modalH - 120px;
    overflow-y: auto;
  }
  &__all-groups {
    &__group {
      margin-left: 20px;
    }

    &__user {
      list-style: none;
    }
  }
}



.b-question-builder {

  &__input-box {
    margin: 12px 0 24px 0;

    &--checkbox {
      //float: left;
      width: 15px;
      height: 15px;
    }

    &--label {
      display: block;
      color: $gray-text;
      font-size: 18px;
      font-weight: lighter;
      margin-bottom: 6px;
    }

    &--input {
      display: block;
      width: 300px;
      height: 42px;
      font-size: 18px;
      font-weight: lighter;
      border: 0;
      padding: 0 12px;
      background-color: $gray-light;

      &--small {
        width: 102px;
        display: inline-block;
      }
    }

    &--caption {
      color: $gray-text;
      margin-left: 36px;
      font-size: 18px;
      font-weight: lighter;
      text-transform: capitalize;
    }

    &--textarea {
      width: 50%;
      height: 100px;
      border: none;
      background: $gray-light;
      resize: none;
      color: rgb(0, 0, 0);
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
    }
    &__error-message {
      color: $red;
      font-size: 16px;
      margin: 10px 0;
    }
    &__clear-message {
      color: $gray-text;
      font-size: 16px;
      margin: 5px 0 10px 0;
    }

    &__button {
      display: inline-block;
      float: left;
      border: none;
      background-color: transparent;
      height: 22px;
      margin-right: 20px;
      cursor: pointer;
      position: relative;

      &--icon {
        font-size: 20px;
        line-height: 20px;
        color: $green;
        margin-right: 10px;
      }

      &--label {
        color: black;
        line-height: 20px;
        font-size: 18px;

      }
      &--file {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
      }
    }
  }

  &__variants {
    margin: 0;
    padding: 10px 0 0 0;
    clear: both;

    &__item {
      list-style: none;
      padding: 5px 0;
      font-size: 15px;
      color: $gray-text;
      line-height: 20px;

      &--label {
        float: left;
        display: inline-block;
        min-width: 200px;
        @include text-ellipsis(200px);
      }

      &__edit-input {
        float: left;
        margin-right: 10px;
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
        font-size: 15px;
        padding: 0 5px;
        line-height: 20px;
        text-overflow: ellipsis;
      }

      &__edit-input--icon {
        font-size: 20px;
        cursor: pointer;
        color: $green;
      }

      &__edit-variants {
        cursor: pointer;
        font-size: 18px;
        line-height: 18px;

        .fa-pencil {
          color: $green;
        }
        .fa-trash-o {
          color: $red;
        }
      }

    }
  }
}

.b-date-range {
  display: block;
  overflow: hidden;

  &__small-field {
    width: auto;
    padding-right: 50px;
    float: left;
  }

  &__label {
    display: block;
    color: $gray-text;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 6px;
  }

  &__input {
    height: 35px;
    background: $gray-light;
    padding: 0 10px;
    border: 1px solid $gray-light;
    font-size: 18px;
  }
}

.b-mask-input {
  &__header {
    &--title {
      display: block;
      color: $gray-text;
      font-size: 18px;
      font-weight: lighter;
      margin-bottom: 6px;
    }
  }

  &__body {

    &__input {
      height: 35px;
      background: $gray-light;
      padding: 0 10px;
      border: 1px solid $gray-light;
      font-size: 18px;
    }

    &__label {
      color: $gray-text;
      font-size: 18px;
      font-weight: lighter;
      margin-bottom: 6px;
    }

  }
}

.b-skip-logic {
  &__header {
    &__title {
      display: block;
      color: rgb(77, 77, 77);
      font-size: 18px;
      font-weight: lighter;
      margin-bottom: 6px;
    }
  }

  &__body {

    &__input {
      height: 35px;
      background: $gray-light;
      padding: 0 10px;
      border: 1px solid $gray-light;
      font-size: 18px;
      float: left;
      margin: 0 10px;
    }

    &__add-option {
      background: none;
      border: none;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 10px;
      clear: both;
      display: block;

      &:hover {
        color: $gray-text;
      }

      &:active {
        outline: none;
      }

     .fa {
       color: $red;
     }
    }

    &__error-message {
      color: $red;
      font-size: 16px;
    }

    &__option {
      display: block;
      padding: 10px 0;
      clear: both;

      &--label {
        font-size: 18px;
        color: $gray-text;
        margin-right: 10px;
        float: left;
        line-height: 35px;
      }
    }


    &__input--label {
      font-size: 18px;
      color: $gray-text;
      margin: 0 10px;
      float: left;
      line-height: 35px;
    }

    &__option-select {
      margin-right: 10px;
    }
    &__question-select {
    }

    &__del-option {
      color: $red;
      font-size: 24px;
      border: none;
      background: transparent;
      float: left;
      cursor: pointer;

      &:active {
        outline: none;
      }
    }
  }
}

.b-cascade-question {
  white-space: nowrap;
  width: 100%;
  height: auto;
  overflow-x: auto;
  padding-bottom: 30px;
  position: relative;

  .b-question-builder__input-box, &__cascade-tmpl {
    display: inline-block;
  }

  &__cascade-subs {
    max-width: 270px;
    float: left;
    display: inline-block;
  }
}

.b-time-selector {
    background: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

  &__increase, &__decrease {
    text-align: center;
    vertical-align: middle;
    color: rgb(112, 112, 112);
    text-shadow: 0px 1px #FFF;
    cursor: pointer;
    -webkit-transition: 500ms ease-out all;
    -moz-transition: 500ms ease-out all;
    -o-transition: 500ms ease-out all;
    transition: 500ms ease-out all;
    font-size: 100%;
    padding: 3px;
    margin: 3px;
    border: 1px solid #EDE;

    &:hover {
      color: rgba(112, 112, 112, 0.5);
      border-color: #CCC;
      background-color: #FFF;
    }

    &:active {
      color: rgb(112, 112, 112);
      box-shadow: inset 1px 1px 1px #DDD;
    }
  }

  &__section {
    display: inline-block;
  }

  &__display {
    background-color: rgb(247, 247, 247);
    color: #555555;
    padding: 5px;
    margin: 0px 3px;
    min-width: 30px;
    text-align: center;
    border: 1px solid #DDD;
    box-shadow: 1px 1px 1px #FFFFFF;
  }
}
