<div class="b-page__line">
  <div class="b-content">
    <div class="b-surveys">
      <div class="b-surveys__left-content">
        <div class="b-surveys-table">
          <div class="b-surveys-table__top">

            <div class="b-surveys-table__top--left">
              <a ui-sref="page.surveys.new" class="e-create-btn">
                <span class="fa fa-plus e-create-btn--icon"></span>
                <span class="e-create-btn--title">{{'surveys.Create_Survey'| translate }}</span>
              </a>

              <span class="b-surveys-table__top__icon b-surveys-table__top__icon--upload" >
                <input file-select="surveyXML" type="file" title="{{'surveys.Upload_XML_survey'| translate }}"
                       tabindex="0"
                       class="b-surveys-table__top__icon--upload--file"
                       name="files" ng-disabled="offlineMode"/>
                <!--Fix For Edge Tab-Navigation -->
                <span class="button-title">{{'surveys.Upload_XML_survey'| translate }}</span>
              </span>
            </div>

            <div class="b-surveys-table__top--right" ng-init="selectVal = {text: 'All', label: 'All', translateId: 'surveys.All'}">
              <input type="button" class="b-surveys-table__top__icon b-surveys-table__top__icon--folder"
                     role="link"
                     title="Archive"
                     ui-sref="page.surveys.archive" ng-disabled="offlineMode"/>

              <!--div>DROPDOWNS TRANSLATE</div-->
              <div ng-show="false" ng-repeat="item in dropdownList" >
                {{dropdownList[$index].text = (item.translateId | translate) }}
              </div>
              <div ng-show="false">
                {{dropdownSelect.text = (dropdownSelect.translateId | translate)}}
              </div>
              <!--div>DROPDOWNS TRANSLATE</div-->

              <div dropdown-select="dropdownList"
                   dropdown-model="dropdownSelect"
                   dropdown-item-label="text"
                   class="b-surveys-table__dropdown">
              </div>

            </div>
          </div>

          <table class="b-table__box">
            <thead>
            <tr class="b-table__header">
              <th class="b-table__header__item">
                  {{'table_header.Name'| translate }}
                <button class="transparent-button"  role="button"
                        ng-click="predicate = 'title'; reverse=!reverse">
                  <span class="fa fa-caret-down g-pointer"></span>
                  <span class="button-title">
                    {{'table_header.Sort_by'| translate }} {{'table_header.Name'| translate }}
                  </span>
                </button>

              </th>
              <th class="b-table__header__item" >
                  {{'table_header.Results'| translate }}
                <button class="transparent-button" role="button"
                        ng-click="predicate = 'resultsCount'; reverse=!reverse">
                  <span class="fa fa-caret-down  g-pointer"></span>
                  <span class="button-title">
                    {{'table_header.Sort_by'| translate }} {{'table_header.Results'| translate }}
                  </span>
                </button>


              </th>
              <th class="b-table__header__item">
                 {{ 'table_header.Publisher'| translate }}
                <button class="transparent-button" role="button"
                        ng-click="predicate = '_creator.name'; reverse=!reverse">
                  <span class="fa fa-caret-down  g-pointer"></span>
                  <span class="button-title">
                    {{'table_header.Sort_by'| translate }} {{'table_header.Publisher'| translate }}
                  </span>
                </button>
              </th>
              <th class="b-table__header__item">
                  {{'table_header.Date'| translate }}
                <button class="transparent-button" role="button"
                        ng-click="predicate = 'dateCreated'; reverse=!reverse">
                  <span class="fa fa-caret-down g-pointer"></span>
                  <span class="button-title">
                    {{'table_header.Sort_by'| translate }} {{'table_header.Date'| translate }}
                  </span>
                </button>
              </th>
            </tr>
            </thead>
            <tbody class="b-table__body">
            <tr class="b-table__body__row" id="{{survey._id}}"
                ng-repeat="survey in filtered = (surveys | deletedItemsFilter : 'surveys')
                                                            | selectPublished : dropdownSelect.value
                                                            | filter:search
                                                            | orderBy:predicate:reverse"
                ng-init="survey.hidden = true">
                <td class="b-table__body__row__col">
                    <div class="b-table__body__row__col__title" title="{{survey.title}}">
                        <span class="fa fa-{{survey.published ? 'circle': 'circle-o'}} b-table__body__row__col--text__publish"></span>
                        <span class="b-table__body__row__col--text">{{survey.title}}</span>
                        <div class="e-options">
                            <button class="e-options__item transparent-button"
                                    role="button"
                                    ng-if="!survey.published"
                                    ui-sref="page.surveys.edit({surveyId: survey.id})"
                                    title="{{ 'surveys.Edit_survey' | translate }}">
                                <span class="fa fa-pencil"></span>
                                <span class="button-title">{{ 'surveys.Edit_survey' | translate }}</span>
                            </button>
                            <button class="e-options__item transparent-button"
                                    role="button"
                                    ng-if="survey.published"
                                    ng-click="archive(survey.id, survey.title, true)"
                                    ng-disabled="offlineMode"
                                    title="{{ 'surveys.Move_to_archive' | translate }}">
                                <span class="fa fa-folder-open"></span>
                                <span class="button-title">{{ 'surveys.Move_to_archive' | translate }}</span>
                            </button>
                            <button class="e-options__item transparent-button"
                                    role="button"
                                    ng-click="downloadSurvey(survey.id)"
                                    ng-disabled="offlineMode"
                                    title="{{ 'surveys.Download_survey' | translate }}">
                                <span class="fa fa-download"></span>
                                <span class="button-title">{{ 'surveys.Download_survey' | translate }}</span>

                            </button>
                            <button class="e-options__item transparent-button"
                                    role="button"
                                    ui-sref="page.surveys.list.sendsurvey({surveyId: survey.id})"
                                    title="{{ 'surveys.Publish_survey' | translate }}">
                                <span class="fa fa-share"></span>
                                <span class="button-title">{{ 'surveys.Publish_survey' | translate }}</span>
                            </button>
                            <button class="e-options__item transparent-button"
                                    role="button"
                                    ng-click="duplicateSurvey(survey.id, survey.title)"
                                    ng-disabled="offlineMode"
                                    title="{{ 'surveys.Duplicate_survey' | translate }}">
                                <span class="fa fa-files-o"></span>
                                <span class="button-title">{{ 'surveys.Duplicate_survey' | translate }}</span>
                            </button>
                            <button class="e-options__item transparent-button"
                                    role="button"
                                    ng-click="deleteSurvey(survey)"
                                    ng-disabled="survey.published"
                                    title="{{ survey.published ? 'surveys.Can_not_be_deleted':'surveys.Delete_survey' | translate }}">
                                <span class="fa fa-trash-o"></span>
                                <span class="button-title">{{ survey.published ? 'surveys.Can_not_be_deleted':'surveys.Delete_survey' | translate }}</span>
                            </button>
                        </div>
                    </div>
                    <span class="b-table__body__row__col--text-light" title="{{survey.id}}">ID: {{survey.id}}</span>
                </td>

              <td class="b-table__body__row__col">
                <p ng-if="!survey.resultsCount"
                  class="b-table__body__row__col--text">0</p>
                <a class="b-table__body__row__col--text b-table__body__row__col--text--results"
                   href="#"
                   ng-if="survey.resultsCount"
                   tabindex="0"
                   ui-sref="page.results.list({surveyId : survey.id})"
                   title="{{survey.resultsCount}}">{{survey.resultsCount}}</a>
              </td>

              <td class="b-table__body__row__col">
                <p class="b-table__body__row__col--text" title="{{survey._creator.name}}">{{survey._creator.name}}</p>
              </td>

              <td class="b-table__body__row__col">
                <p class="b-table__body__row__col--text" title="{{survey.dateCreated | date : 'dd/MM/yyyy'}}">{{survey.dateCreated | date : 'dd/MM/yyyy'}}</p>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="b-surveys__right-content">
        <p class="b-surveys__right-content__search-title"> Search Name or Username</p>
        <div class="e-search-box">
          <span class="fa fa-search e-search-box__icon"></span>
          <input type="search" class="e-search-box__input" role="search"
                 placeholder="{{ 'surveys.Search_Name_Publisher' | translate }}"
                 ng-model="search">
        </div>
      </div>
    </div>
  </div>
</div>
<div ui-view></div>
