<div class="b-time-selector">
  <div class="b-time-selector__section b-time-selector__section--hours">
    <div class="b-time-selector__increase">
      <button class="transparent-button" ng-click="increaseHours()">
        <span class="icon fa fa-caret-up"></span>
      </button>
    </div>
    <div class="b-time-selector__display"> {{displayHours()}}</div>

    <div class="b-time-selector__decrease">
      <button class="transparent-button" ng-click="decreaseHours()">
        <span class="icon fa fa-caret-down"></span>
      </button>
    </div>

  </div>
  <div class="b-time-selector__section b-time-selector__section--minutes">
    <div class="b-time-selector__increase">
      <button class="transparent-button" ng-click="increaseMinutes()">
        <span class="icon fa fa-caret-up"></span>
      </button>
    </div>
    <div class="b-time-selector__display"> {{displayMinutes()}}</div>
    <div class="b-time-selector__decrease">
      <button class="transparent-button" ng-click="decreaseMinutes()">
        <span class="icon fa fa-caret-down"></span>
      </button>
    </div>
  </div>
</div>
