<div class="b-time-selector">
    <div class="b-time-selector__section b-time-selector__section--hours">
        <div class="b-time-selector__increase" ng-click="increaseHours()">
            <i class="icon fa fa-caret-up"></i>
        </div>
        <div class="b-time-selector__display"> {{displayHours()}} </div>
        <div class="b-time-selector__decrease" ng-click="decreaseHours()">
            <i class="icon fa fa-caret-down"></i>
        </div>
    </div>
    <div class="b-time-selector__section b-time-selector__section--minutes">
        <div class="b-time-selector__increase" ng-click="increaseMinutes()">
            <i class="icon fa fa-caret-up"></i>
        </div>
        <div class="b-time-selector__display"> {{displayMinutes()}} </div>
        <div class="b-time-selector__decrease" ng-click="decreaseMinutes()">
            <i class="icon fa fa-caret-down"></i>
        </div>
    </div>
</div>