<div class="b-page__footer">
  <ul class="b-page__footer__box">
    <li class="b-page__footer__box__item">
      <a class="b-page__footer__box__item__link"
        href="http://www.nokia.com/global/privacy/privacy/policy/privacy-policy/">Privacy Policy</a>
    </li>
    <li class="b-page__footer__box__item">
      <a class="b-page__footer__box__item__link"
         href="http://www.nokia.com/global/privacy/privacy/cookie/cookie-policy/">Cookie Policy</a>
    </li>
    <li class="b-page__footer__box__item">
      <a class="b-page__footer__box__item__link"
         href="http://www.nokia.com/global/privacy/privacy/service-terms/nokia-service-terms/">Service Policy</a>
    </li>
    <li class="b-page__footer__box__item">
      <a class="b-page__footer__box__item__link"
         href="https://github.com/nokiadatagathering">Code</a>
    </li>
  </ul>
</div>

