doctype html transitional
head
body
    p The password for #{username} has been successfully changed #{date} at #{time}.
    p If the password was changed by you, no extra actions are required.
    br
    p In case you did not reset your password, your account may be compromised. You need to change password in order to gain access to your account.
