doctype html transitional
head
body
    p You've received this email because you want to reset password for &nbsp;
        b #{username}
        | &nbsp; username.
    p
        | In order to reset your MDG password please use the &nbsp;
        a(href=link) link
    p For security reasons the link can only be used for one hour.
    p If you've received this email by mistake, please ignore it.
