html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Segoe UI;
}

.g-pointer { cursor: pointer; }
.g-hide    { display: none; }

.g-left    { float: left; }
.g-right   { float: right; }


.g-aria-hide {
  visibility: hidden;
  width: 1px;
  height: 1px;
  display: inline-block;
}

.g-page-wrapper {
  min-height: 100vh;
  position: relative;

  &:after {
    content:' ';
    display:block;
    height:60px;
    clear:both
  }
}

//common Elements

.e-search-box {
  background-color: $gray-light;
  height: 42px;

  &__icon.fa {
    color: $gray-icon;
    float: left;
    font-size: 24px;
    margin: 0 6px;
    line-height: 42px;
  }

  &__input {
    width: 85%;
    height: 42px;
    float: right;
    border: none;
    background-color: transparent;
    font-size: 18px;
    line-height: 42px;
    font-weight: lighter;
    color: $gray-text;
    padding-right: 12px;

  }
}

.e-create-btn {
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    .e-create-btn--title {
      color : lighten($red, 10%);
    }
    .e-create-btn--icon.fa {
      color : lighten($blue, 10%);
    }
  }

  &:active {
    outline: none;
  }

  &--title {
    color: $red;
    font-size: 30px;
    float: left;
    font-weight: bold;
    @include text-ellipsis;
  }

  &--icon.fa {
    color: $blue;
    font-size: 30px;
    margin-right: 12px;
    float: left;
    line-height: 42px;
  }
}


// styles for TABLES
.b-table {
  &__box  {
    width: 100%;
    border-collapse: collapse;
  }

  &__header {
    padding: 12px 36px;
    background-color: $green;
    color: #FFFFFF;

    &__item {
      text-align: left;
      padding-left: 30px;
      height: 42px;
      font-size: 18px;
      font-weight: lighter;
      white-space: nowrap;
    }
  }

  &__body {
    &__row {
      background-color: $gray-light;
      border-bottom: 1px solid white;
      color: $gray-text;

        &--active {
          background-color: $green;
          color: #FFFFFF;

          .b-table__body__row__circle {
            background-color: #fff;
            color: $green;

          }
        }
      &__circle {
        width: 24px;
        height: 24px;
        display: inline-block;
        border-radius: 50%;
        background-color: $green;
        margin-right: 6px;
        text-align: center;
        line-height: 24px;
        color: #fff;
        float: left;
        font-size: 18px;
        font-weight: bold;
      }

      &__col {
        padding: 12px 30px;
        vertical-align: middle;

        &--text {
          font-size: 18px;
          font-weight: bold;
          margin: 0;
          text-decoration: none;
          color: inherit;
          line-height: 24px;
          display: block;
          float: left;
          @include text-ellipsis(280px);

          &--results {
            color: $green;
            font-weight: bold;
            cursor: pointer;
            text-decoration: underline;
          }

          &__publish {
            float: left;
            color: $green;
            margin: 6px 10px 0 0;
          }
        }

        &__title {
          width: 100%;
          display: inline-block;
          clear: both;

          .e-options {
            display: inline-block;
            float: right;

            &__item {
              background-color: transparent;
              font-size: 18px;
              color: $gray;
              border: 0;

              &:hover {
                color: $green;
                cursor: pointer;
              }
            }
          }
        }


        &--text-light {
          //display: inline-block;
          margin-top: 12px;
          color: $gray-text;
          font-size: 18px;
          font-weight: lighter;
        }
      }
    }
  }
}

// styles for MODAL WINDOWS AND POPUPS
.b-modal-window {


  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 2000;
    overflow: auto;
  }

  &__main-block {
    background-color: #ffffff;
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 2020;

    &__header {
      color: $gray-text;
      font-size: 18px;
      padding: 24px 36px;
      background-color: $gray-light;
      text-transform: capitalize;
      text-align: center;

      &--title {
        display: inline-block;
        font-size: 18px;
        margin: 0;
      }

      &--icon-close {
        font-size: 20px;
        float: right;
        cursor: pointer;
        color: #000000;
        &:hover {
          color: $gray;
        }
      }
    }

    &__body {
      padding: 24px 36px;
      font-size: 16px;
      font-family: Segoe UI;
      font-weight: 100;

      &__button {
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;

        &:hover {
          color: $gray-text;
        }
        &--icon {
          color: $green;
        }
      }
    }
  }

  .b-sync {
    width: 300px;
    height: 200px;
    margin-left: -(300px/2);
  }
}

.notifications {
  position: absolute;
  left: 0;
  max-width: 150px;
  z-index: 100;
  margin: 30px 0;

  &__event {
    @include notice;
  }
  .red {
    @include notice(rgba(233, 140, 133, 0.8), rgba(185, 48, 38, 1), rgba(139, 36, 38, 1))
  }
  &.fixed {
    position: fixed;
    margin: 0;
    top: 0;
  }
}



.wrap-dd-select {
  display: inline-block;
  float: left;
  background-color: $gray-light;
  height: 35px;
  font-size: 15px;
  border: 1px solid $gray-light;
  cursor: pointer;
  position: relative;
  width: 200px;
  margin: 0 auto;
  cursor: pointer;
  padding: 0;
  line-height: 33px;

  &:active {
    outline: none;
  }
  .selected {
    padding: 0 10px;
    font-size: 18px;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 0 0 -1px;
    padding: 0;
    background: white;
    border: 1px solid $gray-light;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: normal;
    transition: all 0.2s ease-in;
    list-style: none;
    //opacity: 0;
    visibility: hidden;
    pointer-events: none;

    li {
      &.divider {
        padding: 2px 0;
        background: $gray-light;
      }
      a {
        display: block;
        padding: 0 10px;
        text-decoration: none;
        box-shadow: inset 0 1px 0 rgba(255,255,255,1);
        transition: all 0.3s ease-out;
        @include text-ellipsis;

      }
      i {
        float: right;
        color: inherit;
      }
      &:first-of-type a {
        border-radius: 7px 7px 0 0;
      }
      &:last-of-type a {
        border-radius: 0 0 7px 7px;
        border: none;
      }
    }

    width: 100%;
    z-index: 10;
    li:hover a {
      background: #f3f8f8;
    }

  }

  &.active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .dropdown {
      //opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: black transparent;
  }
}


/*
  Styles for dropdown-menu
  */

.wrap-dd-menu {
  display: inline-block;
  position: relative;
  margin-right: 10px;

  .dropdown {
    z-index: 11;
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: -1px;
    padding: 10px 0;
    background: white;
    border: 1px solid $gray-light;
    border-radius: 5px;
    font-weight: normal;
    transition: all 0.2s ease-in;
    list-style: none;
    visibility: hidden;
    pointer-events: none;
    -webkit-box-shadow: 0 0 10px 1px $gray-light;
    box-shadow: 0 0 10px 1px $gray-light;

    li {
      &.divider {
        padding: 2px 0;
        background: $gray-light;
      }
      a {
        background-color: #fff ;
        display: block;
        padding: 0 10px;
        text-decoration: none;
        box-shadow: inset 0 1px 0 rgba(255,255,255,1);
        transition: all 0.3s ease-out;
      }
      i {
        float: right;
        color: inherit;
      }
    }
    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: 100%;
      margin-left: 5px;
      border-width: 0 6px 6px 6px;
      border-style: solid;
      border-color: #fff transparent;
    }

    &.active {
      visibility: visible;
      pointer-events: auto;
    }
  }
}
/* active menu */

.wrap-dd-menu {
  .dropdown {
    z-index: 10;
    li:hover a {
      background: #f3f8f8;
    }
  }
  &.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(240, 240, 240, 1);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
    .dropdown {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.offline-block {
  position: fixed;
  border-top: 4px solid #ff0000;
  border-bottom: 4px solid #ff0000;
  color: #ff0000;
  height: 60px;
  width: 100%;
  background: #ffffff;
  top: 0px;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  z-index: 2000;
  input {
    vertical-align: middle;
    //.button-stylisation;
  }
}


.sortable-placeholder {
  height: 55px;
  width: 100%;
  border: 2px dotted #9f9f9f;
  margin-bottom: 10px ;
}
.ui-sortable-helper {
  opacity: 0.9;
}

.hide-text {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

.transparent-button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  font-size: inherit;
  position: relative;
  &:disabled {
    opacity: 0.5;
  }

  &:focus {
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.5);
    box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.5);
  }

  &:hover,
  &:focus  {
    .button-title {
      visibility: visible;
    }
  }

  .button-title {
    @include button-title;
  }

}
