//fonts
@font-face{
  font-family: 'Segoe UI';
  src:url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot');
  src:url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot?#iefix') format('embedded-opentype'),
  url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.woff') format('woff'),
  url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.ttf') format('truetype'),
  url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.svg#web') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Segoe UI';
  src:url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot');
  src:url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot?#iefix') format('embedded-opentype'),
  url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.woff') format('woff'),
  url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.ttf') format('truetype'),
  url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Segoe UI';
  src:url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
  src:url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
  url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
  url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
  url('//i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
  font-weight: lighter;
  font-style: normal;
}
