a {

}

// home page styles
.b-page {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: SegoeUI, Arial, sans-serif;
  font-size: 12px;
  position: relative;
}

.b-page__head-line {
  height: 6px;
  width: 100%;
}

.b-line-bit {
  width: 25%;
  height: 100%;
  display: inline-block;
  float: left;
  &--red {
    background-color: #f25022;
  }
  &--green {
    background-color: #7fba00;
  }
  &--blue {
    background-color: #00a3ee;
  }
  &--yellow {
    background-color: #ffb901;
  }
}

.b-head {
  width: 100%;
}

.b-page__line {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.b-page__header {
  height: 60px;
  color: #4d4d4d;
  background-color: #f2f2f2;
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  display: table;
  position: relative;
}

.b-head-logo {
  vertical-align: middle;
  display: table-cell;
  padding-left: 36px;
}

.b-logo__title {
  text-decoration: none;
  color: #4d4d4d;
  line-height: 40px;
}

.b-logo__img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}

.b-menu {
  display: table-cell;
  vertical-align: middle;
}

.b-menu-nav {
  display: table;
  width: 100%;

  &__link {
    text-decoration: none;
    color: #4d4d4d;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 60px;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #00a3ee;
    }
    &.active, &--active {
      background-color: #00a3ee;
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}

.b-link_menu {
  text-decoration: none;
  color: #4d4d4d;
}

.b-account-menu {
  display: table-cell;
  padding-right: 36px;
  text-align: right;
  vertical-align: middle;

  &__locale {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    text-decoration: none;
    color: #4d4d4d;
    float: right;

    .dropdown {
      opacity: 0;
      position: absolute;
      padding: 10px 0;
      background-color: #fff;
      z-index: 2;
      font-family: SegoeUI, Arial, sans-serif;
      font-size: 16px;
      width: 150px;
      top: 30px;
      border: 1px solid rgba(166, 166, 166, 0.5);
      border-radius: 5px;
      left: 0;

      li {
        display: block;
        color: #000;
        line-height: 20px;
        padding: 0 5px;
        font-family: SegoeUI, Arial, sans-serif;

        &:hover {
          background: #f2f2f2;
        }

      }

      &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        margin-left: 5px;
        border-width: 0 6px 6px 6px;
        border-style: solid;
        border-color: #fff transparent;
        left: 20px;
      }

      &.open {
        opacity: 1;
      }
    }

    &:after {
      top: 10px;
      margin-left: 6px;
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-top: 5px solid #4d4d4d;
    }
  }

  &__user {
    display: inline-block;
    float: right;
    text-decoration: none;
    color: #4d4d4d;

  }

  .wrap-dd-menu .dropdown {
    left: initial;
    &:after {
      right: 20px;
    }
  }
  .fa {
    font-size: 16px;
  }
}

.b-link_account-menu {
  text-decoration: none;
  color: #4d4d4d;
}

.b-page__footer {
  width: 100%;
  height: 54px;
  margin-top: -54px;
  background-color: #666666;
  display: table;

  &__box {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    &__item {
      display: inline-block;
      list-style: none;
      margin: 0 24px;

      &__link {
        color: #fff;
        font-weight: normal;
        text-decoration: none;
        margin: 0 6px;
        font-size: 18px;

        &:hover {
          color: lighten(#00a3ee, 5%);
        }
      }
    }
  }
}

.b-content-header {
  background-color: #f2f2f2;
  padding: 30px 36px;

  &__title {
    color: #f25022;
    margin: 0;
    font-size: 54px;
    font-weight: normal;
  }

  &__text {
    color: #4d4d4d;
    font-size: 24px;
    margin: 0;
    &__link {
      color: #00a3ee;
      font-size: inherit;
      font-weight: bold;
      text-decoration: none;
      margin: 0 6px;

      &:hover {
        color: lighten(#00a3ee, 5%);
      }
    ;
    }
  }
}

.b-content {
  margin: 36px;
  padding-bottom: 72px;
  overflow: hidden;

  &--line {
    border-bottom: 1px solid #b2b2b2;;
  }

  &-title {
    margin-top: 0;
    font-size: 36px;
    color: red;
  }
  &__paragraph {
    margin-top: 0;
    font-size: 18px;
    font-weight: lighter;
    color: #4d4d4d;
    &__link {
      color: #00a3ee;
      font-size: inherit;
      font-weight: bold;
      text-decoration: none;
      margin: 0 6px;

      &:hover {
        color: lighten(#00a3ee, 5%);
      }

    }
    &--item {
      margin: 0;
    }
  }

  &--main {
    display: table;

    &__article {
      vertical-align: top;
      display: table-cell;
      padding-right: 84px;

      &__indent {
        margin-top: 0;
        color: #4d4d4d;
        font-size: 18px;
      }
    }

    &__image {
      display: table-cell;
    }
  }

  &__col-left {
    width: 50%;
    float: left;
    &--video {
      height: 390px;
      width: 100%;
    }
  }

  &__col-right {
    width: 50%;
    float: right;

    &__study-article {
      padding: 0 36px;
      &--text {
        margin: 0;
        color: #4d4d4d;
        font-size: 18px;
        font-weight: lighter;
      }
    }
    &__item {
      margin-left: 36px;
    }
  }
  &__col-left__item,
  &__col-right__item {
    display: table;
    margin-bottom: 30px;

    &__picture {
      display: table-cell;
      border: 2px solid #b2b2b2;
      width: 180px;
      height: 180px;

      &--img {
        width: 100%;
        height: 100%;
      }
    }

    &__caption {
      vertical-align: middle;
      display: table-cell;

      &__number {
        margin: 0 24px;
        float: left;
        color: white;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #f25022;
        font-size: 24px;
        line-height: 36px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
      }

      &__text {
        font-size: 18px;
        margin: 0 24px;

        &--blue {
          color: #00a3ee;
          font-size: 18px;
        }
      }

      &__title {
        color: #4d4d4d;
        margin: 0 0 0 24px;
        font-size: 24px;
        font-weight: bold;
      }
    }
    &__title {
      font-size: 24px;
      color: #4d4d4d;
      &-number {
        color: white;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #f25022;
        font-size: 24px;
        line-height: 36px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        margin-right: 6px;
      }
    }

    &__icon--img {
      width: 72px;
    }

    &--benefits {
      margin-bottom: 90px;
    }

    &__photo {
      width: 100%;
    }
    &__photo-caption {
      margin: 24px 0;
      color: #f25022;
      font-style: italic;
      font-size: 18px;
      font-weight: lighter;
    }

    &__photo-location {
      color: #666666;
      font-size: 18px;
      font-weight: lighter;
    }
  }
  &__col-ternary {
    width: (100%/3);
    position: relative;

    &__col-ternary__item {
      padding-right: 20px;
    }
  }

  &--acknowledge-list {
    margin-top: 36px;

    &__link {
      color: #00a3ee;
      font-size: inherit;
      font-weight: bold;
      text-decoration: none;
      margin: 0 6px;

      &:hover {
        color: lighten(#00a3ee, 5%);
      }

      line-height: 24px;
      display: block;
      font-size: 18px;

    }
  }
}

.e-form {
  &__label {
    display: block;
    font-size: 18px;
    color: #4d4d4d;
    margin-top: 12px;
  }

  &__field {
    border: 0;
    width: 336px;
    height: 42px;
    font-size: 18px;
    padding: 0 12px;
    color: #4d4d4d;
    background-color: #f2f2f2;
    margin: 12px 0;
    display: block;
  }
  &__button {
    display: block;
    border: 0;
    margin: 36px 0 24px 0;
    width: 360px;
    height: 42px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background-color: #7fba00;
    &--offset {
      margin-left: 396px;
    }
  }
  .error {
    width: 360px;
    height: 0;
    position: relative;
    display: none;

    & > span {
      width: calc(100% - 24px);
      padding: 12px;
      min-height: 40px;
      background: rgba(#f25022, 0.8);
      color: white;
      font-size: 12px;
      position: absolute;
      left: 0;

      &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-bottom-color: rgba(#f25022, 0.8);
        border-width: 6px;
        margin-left: -6px;
      }

    }
  }
  .e-select {
    display: inline-block;
    width: 360px;
    height: 42px;
    position: relative;
    &__label {
      width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
    }

    &__box {
      height: 100%;
      width: 100%;
      border-radius: 0;
      display: inline-block;
      border: none;
      padding: 4px 3px 3px 5px;
      margin: 0;
      font: inherit;
      font-size: 18px;
      color: #666666;
      background: #f2f2f2;
      line-height: initial;
      -webkit-appearance: none; /* remove the strong OSX influence from Webkit */
      &.ng-dirty.ng-invalid {
        color: #f25022;
      }
      &:active {
        outline: none;
      }
    }

    /* for Webkit's CSS-only solution */
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      &__box {
        padding-right: 30px;
      }
    }

    /* Select arrow styling */
    &__label:after {
      font-family: FontAwesome;
      content: "\f0d7";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      font-size: 18px;
      line-height: 42px;
      padding: 0 10px;
      background: transparent;
      color: #4d4d4d;
      pointer-events: none;
    }

    .no-pointer-events .custom-select:after {
      content: none;
    }
  }

}

.b-form-row {
  width: 100%;
  &__col {
    display: inline-block;
    width: auto;
    padding-right: 36px;
  }
}

.b-step {
  display: table;
  &__left {
    display: table-cell;
    border: 2px solid #b2b2b2;
    &__image {
      width: 300px;
      height: 300px;
    }
  }
  &__right {
    padding-left: 36px;
    display: table-cell;
    vertical-align: top;
    &__title {
      font-size: 24px;
      color: #4d4d4d;
      font-weight: bold;
      &__count {
        color: #f25022;
        margin-right: 6px;
      }
    }
    &__paragraph {
      font-size: 18px;
      font-weight: lighter;
      color: #4d4d4d;
      &__link {
        color: #00a3ee;
        font-size: inherit;
        font-weight: bold;
        text-decoration: none;
        margin: 0 6px;

        &:hover {
          color: lighten(#00a3ee, 5%);
        }
      }
    }
  }
}
