// colors
$red : #D3441c;
$green : #598200;
$blue: #007CB7;
$yellow: #FFB900;

$gray: #666666;
$gray-light: #f2f2f2;

$gray-text: #4d4d4d;
$gray-border: #b2b2b2;
$gray-icon: #b3b3b3;

$red-error : rgba(194, 0, 0, 0.8);
