<div class="g-page-wrapper">
    <div class="b-page__head-line">
        <div class="b-line-bit b-line-bit--red"></div>
        <div class="b-line-bit b-line-bit--green"></div>
        <div class="b-line-bit b-line-bit--blue"></div>
        <div class="b-line-bit b-line-bit--yellow"></div>
    </div>
    <div>
        <header class="b-page__header">
            <div class="b-head-logo">
                <a href="#" class="b-logo__title">
                    <img class="b-logo__img" src="assets/images/logo-30px.png" alt="Microsoft Data Gathering"/>
                    <span>Microsoft Data Gathering</span>
                </a>
            </div>

            <div class="b-menu">
                <nav class="b-menu-nav" role="tabpanel">
                    <a href="#/surveys/list" class="b-menu-nav__link"
                       role="tab"
                       ng-class="{ 'b-menu-nav__link--active':  $state.includes('page.surveys') ||
                                                                $state.includes('page.results')}"
                       ui-sref="page.surveys.list"
                       ui-sref-active="b-menu-nav__link--active">
                        {{'header.surveys' | translate}}

                    </a>
                    <a href="#/users" class="b-menu-nav__link"
                       role="tab"
                       ng-if="loggedInUser.permission !== 'operator'"
                       ui-sref="page.users.group({groupId: ''})"
                       ng-class="{ 'b-menu-nav__link--active': $state.includes('page.users')}"
                       ui-sref-active="b-menu-nav__link--active">
                        {{'header.users' | translate}}

                    </a>
                </nav>
            </div>
            <!--div>DROPDOWNS TRANSLATE</div-->
            <div ng-show="false" ng-repeat="item in dropdownList" >
                {{dropdownList[$index].text = (item.translateId | translate) }}
            </div>
            <!--div>DROPDOWNS TRANSLATE</div-->

            <div class="b-account-menu">
                <a class="b-account-menu__locale"
                   href=""
                   role="select"
                   dropdown-menu="langauges"
                   dropdown-onchange="changeLanguage(selected)">
                    {{'header.language' | translate}}
                </a>

                <a class="b-account-menu__user"
                   href=""
                   role="select"
                   dropdown-menu="dropdownList"
                   dropdown-model="dropdownSelect"
                   dropdown-onchange="selectMenu(selected)">
                    {{loggedInUser.username}}
                    <span class="fa fa-caret-down"></span>
                </a>
            </div>
        </header>
    </div>
        <div ng-if="offlineMode" class="offline-block">
            You are working in offline mode. Only Surveys page and Survey Builder are available in offline mode
            <input type="button" value="Synchronize" ng-click="sync()">
        </div>
    <div class="notifications"></div>
    <div ui-view></div>
</div>
<div ng-include="'components/ui/footer/footer.html'"></div>
