<div>
    <div class="small-field">
        <div ng-if="checkboxes">
            <label>
                <input type="checkbox"
                       ng-checked="minChecked"
                       ng-click="disableInput('min')"
                       ng-model="minChecked" >
                <h5>MINIMUM RANGE</h5>
            </label>
        </div>
        <label ng-if="!checkboxes">FROM</label>
        <input date-input="minRange">
    </div>
    <div class="small-field">
        <div ng-if="checkboxes">
            <label>
                <input type="checkbox"
                       ng-checked="maxChecked"
                       ng-click="disableInput('max')"
                       ng-model="maxChecked">
                <h5>MAXIMUM RANGE</h5>
            </label>
        </div>
        <label ng-if="!checkboxes">TO</label>
        <input date-input="maxRange">
    </div>
</div>
