<div class="{{question.type}}" ng-if="question.type == 'string'">
    <div class="default-question">
        <h5>{{ 'survey_builder.DEFAULT_ANSWER' | translate }}</h5>
        <input type="text" placeholder="{{ 'survey_builder.DEFAULT_ANSWER_placeholder' | translate }}"
               ng-model="question.defaultValue"
               value="{{question.defaultValue}}">
    </div>
    <div class="words-length">
        <h5>{{ 'survey_builder.MAXIMUM_ANSWER_LENGTH' | translate }}</h5>
        <input type="text" value="{{question.maxLength}}"
               validate-pattern
               regexp="digitsPattern"
               value-to-check="question.maxLength"
               ng-model="question.maxLength">
        <label>{{ 'survey_builder.Symbols' | translate }}</label>
    </div>
</div>
<div class="{{question.type}}" ng-if="question.type == 'note'">
    <div class="note-question">
        <p>{{ 'survey_builder.Notes_description' | translate }}</p>
        <textarea type="text" placeholder="{{ 'survey_builder.NOTE_placeholder' | translate }}"
                  ng-model="question.defaultValue"
                  value="{{question.defaultValue}}"></textarea>
    </div>
</div>
<div class="{{question.type}}" ng-if="question.type == 'time'">
    <div class="default-question">
        <h5>{{ 'survey_builder.DEFAULT_ANSWER' | translate }}</h5>
        <time-selector hours="question.defaultValueHH" minutes="question.defaultValueMM"></time-selector>
    </div>
</div>
<div class="{{question.type}}" ng-if="question.type == 'int'">
    <div class="default-question">
        <h5>{{ 'survey_builder.DEFAULT_ANSWER' | translate }}</h5>
        <input type="text" placeholder="{{ 'survey_builder.DEFAULT_ANSWER_placeholder' | translate }}"
               value="{{question.defaultValue}}"
               validate-pattern
               regexp="digitsPattern"
               value-to-check="question.defaultValue"
               ng-model="question.defaultValue"
               ng-blur="checkDefaultValue(question)">
    </div>
    <div class="error-message" ng-show="question.defaultValueError">{{ 'survey_builder.defaultValueError' | translate }}</div>
    <div class="words-length">
        <label>
            <input type="checkbox"
                   ng-checked="question.minChecked"
                   ng-click="question.minValueFocus = true; checkMinMaxValues(question, 'minChecked')"
                   ng-model="question.minChecked">
            <h5>{{ 'survey_builder.MINIMUM_RANGE' | translate }}</h5>
        </label>
        <span focus-me="question.minValueFocus">
            <input type="text" value="{{question.minValue}}"
                   ng-disabled="!question.minChecked"
                   validate-pattern
                   regexp="digitsPattern"
                   value-to-check="question.minValue"
                   ng-blur="checkMinMaxValues(question)"
                   ng-model="question.minValue">
        </span>
    </div>
    <div class="words-length">
        <label>
            <input type="checkbox"
                   ng-checked="question.maxChecked"
                   ng-click="question.maxValueFocus = true; checkMinMaxValues(question, 'maxChecked')"
                   ng-model="question.maxChecked">
            <h5>{{ 'survey_builder.MAXIMUM_RANGE' | translate }}</h5>
        </label>
        <span focus-me="question.maxValueFocus">
            <input type="text" value="{{question.maxValue}}"
                   ng-disabled="!question.maxChecked"
                   validate-pattern
                   regexp="digitsPattern"
                   value-to-check="question.maxValue"
                   ng-blur="checkMinMaxValues(question)"
                   ng-model="question.maxValue">
        </span>
    </div>
    <div class="error-message" ng-show="question.minmaxError">{{ 'survey_builder.Invalid_min_max_range' | translate }}</div>
</div>
<div class="{{question.type}}" ng-if="question.type == 'decimal'">
    <div class="default-question">
        <h5>{{ 'survey_builder.DEFAULT_ANSWER' | translate }}</h5>
        <input type="text" placeholder="{{ 'survey_builder.DEFAULT_ANSWER_placeholder' | translate }}"
               value="{{question.defaultValue}}"
               validate-pattern
               regexp="decimalPattern"
               value-to-check="question.defaultValue"
               ng-model="question.defaultValue"
               ng-blur="checkDefaultValue(question)">
    </div>
    <div class="error-message" ng-show="question.defaultValueError">{{ 'survey_builder.defaultValueError' | translate }}</div>
    <div class="words-length">
        <label>
            <input type="checkbox"
                   ng-checked="question.minChecked"
                   ng-click="question.minValueFocus = true; checkMinMaxValues(question, 'minChecked')"
                   ng-model="question.minChecked">
            <h5>{{ 'survey_builder.MINIMUM_RANGE' | translate }}</h5>
        </label>
        <span focus-me="question.minValueFocus">
            <input type="text" value="{{question.minValue}}"
                   ng-disabled="!question.minChecked"
                   validate-pattern
                   regexp="decimalPattern"
                   value-to-check="question.minValue"
                   ng-blur="checkMinMaxValues(question)"
                   ng-model="question.minValue">
        </span>
    </div>
    <div class="words-length">
        <label>
            <input type="checkbox"
                   ng-checked="question.maxChecked"
                   ng-click="question.maxValueFocus = true; checkMinMaxValues(question, 'maxChecked')"
                   ng-model="question.maxChecked">
            <h5>{{ 'survey_builder.MAXIMUM_RANGE' | translate }}</h5>
        </label>
        <span focus-me="question.maxValueFocus">
            <input type="text" value="{{question.maxValue}}"
                   ng-disabled="!question.maxChecked"
                   validate-pattern
                   regexp="decimalPattern"
                   value-to-check="question.maxValue"
                   ng-blur="checkMinMaxValues(question)"
                   ng-model="question.maxValue">
        </span>
    </div>
    <div class="error-message" ng-show="question.minmaxError">{{ 'survey_builder.Invalid_min_max_range' | translate }}</div>
</div>
<div class="{{question.type}}" ng-if="question.type == 'date'">
    <div class="small-field date">
        <h5>{{ 'survey_builder.DEFAULT_ANSWER' | translate }}</h5>
        <input date-input="question.defaultValue" class="default-date"
               ng-model="question.defaultValue"
               readonly="readonly"
               min-range="question.minValue"
               max-range="question.maxValue">
        <input ng-if="question.defaultValue" type="button"
               ng-click="question.defaultValue=''"
               class="del-option">
        <span ng-if="question.defaultValue" class="caption">{{ 'survey_builder.Clear_default_field' | translate }}</span>
    </div>
    <div date-range
         min-range="question.minValue"
         max-range="question.maxValue"
         min-checked="question.minChecked"
         max-checked="question.maxChecked"
         with-checkboxes="true"></div>
</div>
<div class="{{question.type}}" ng-if="question.type == 'select1'">
    <div class="select-question">
        <div class="rules">
            <input type="button" value="{{ 'survey_builder.Add_option' | translate }}"
                   ng-click="question.addOption = true; addOptionFocus = true;">
            <input type="file" value="{{ 'survey_builder.Import_existing_option' | translate }}"
                   csv-optioins-import question="question">
            <input type="button" value="{{ 'survey_builder.Import_existing_option' | translate }}"
                   ng-click="question.addOption = false">
        </div>
        <ul class="variants">
            <li ng-repeat="item in question.items" ng-init="item.edit = false;">
                <div ng-if="!item.edit">
                    <label class="left tooltip" title="{{item.text}}">
                        <input type="radio" name="choice" disabled="disabled"> {{item.text}}
                    </label>
                    <ul class="edit-variants">
                        <li class="edit-variant" ng-click="item.edit = true; item.focus = true;"></li>
                        <li class="delete-variant" ng-click="deleteOption(question, $index)" ></li>
                    </ul>
                </div>
                <div ng-if="item.edit">
                    <div focus-me="item.focus">
                        <input type="text" ng-model="item.text" class="left"
                               ng-change="item.error = false"
                               ng-keypress="updateOption(question, item, $index, $event)">
                        <span class="caption error" ng-show="item.error">{{ 'survey_builder.Duplicated_option_value' | translate }}</span>
                    </div>
                    <input type="button" class="button-icon single edit"
                           ng-class="{save: item.edit}"
                           ng-click="updateOption(question, item, $index)">
                </div>
            </li>
            <li ng-show="question.addOption">
                <div focus-me="addOptionFocus">
                    <input type="text" ng-model="newOption.text" class="left"
                           ng-change="newOption.error = false"
                           ng-keypress="addOption(newOption.text, $event)">
                    <span class="caption error" ng-show="newOption.error">
                        {{ 'survey_builder.Duplicated_option_value' | translate }}
                    </span>
                </div>
                <input type="button" class="button-icon single edit"
                       ng-class="{save: question.addOption}"
                       ng-click="addOption(newOption.text)">
            </li>
        </ul>
    </div>
</div>
<div class="{{question.type}}" ng-if="question.type == 'select'">
    <div class="select-question">
        <div class="rules">
            <input type="button" value="{{ 'survey_builder.Add_option' | translate }}"
                   ng-click="question.addOption = true; question.addItemFocus = true">
            <input type="file" value="{{ 'survey_builder.Import_existing_option' | translate }}"
                   csv-optioins-import question="question">
            <input type="button" value="{{ 'survey_builder.Import_existing_option' | translate }}"
                   ng-click="question.addOption = false">
        </div>
        <ul class="variants">
            <li ng-repeat="item in question.items" ng-init="item.edit = false;" >
                <div ng-if="!item.edit">
                    <label class="left tooltip" title="{{item.text}}">
                        <input type="checkbox" name="choice" disabled="disabled"> {{item.text}}
                    </label>
                    <ul class="edit-variants">
                        <li class="edit-variant" ng-click="item.edit = true; item.focus = true"></li>
                        <li class="delete-variant" ng-click="deleteOption(question, $index)" ></li>
                    </ul>
                </div>
                <div ng-if="item.edit">
                    <div focus-me="item.focus">
                        <input type="text" ng-model="item.text" class="left"
                               ng-change="item.error = false"
                               ng-keypress="updateOption(question, item, $index, $event)">
                        <span class="caption error" ng-show="item.error">
                            {{ 'survey_builder.Duplicated_option_value' | translate }}
                        </span>
                    </div>
                    <input type="button" class="button-icon single edit"
                           ng-class="{save: item.edit}"
                           ng-click="updateOption(question, item, $index)">
                </div>
            </li>
            <li ng-if="question.addOption">
                <div focus-me="question.addItemFocus">
                    <input type="text" ng-model="newOption.text" class="left"
                           ng-change="newOption.error = false"
                           ng-keypress="addOption(newOption.text, $event)">
                    <span class="caption error" ng-show="newOption.error">
                        {{ 'survey_builder.Duplicated_option_value' | translate }}
                    </span>
                </div>
                <input type="button" class="button-icon single edit"
                       ng-class="{save: question.addOption}"
                       ng-click="addOption(newOption.text)">
            </li>
        </ul>
    </div>
</div>
<div class="cascade" ng-if="question.type == 'cascade1'">
    <div class="select-question">
        <ul class="variants">
            <li ng-repeat="item in question.items"
                ng-init="item.edit = false; item.error = false; item.prevText = item.text">
                <div ng-if="!item.edit">
                    <form>
                        <label class="left">
                            <input type="radio" name="choice"
                                   ng-click="selectOption(item)"
                                   ng-checked="question.selectedOption == item.value">
                            <span title="{{item.text}}" class="tooltip"
                                  ng-class="{selected : question.selectedOption == item.value }">
                                {{item.text}}
                            </span>
                        </label>
                    </form>

                    <ul class="edit-variants">
                        <li class="edit-variant" ng-click="item.edit = true; item.focus = true"></li>
                        <li class="delete-variant" ng-click="deleteCascadeOption(item)" ></li>
                    </ul>
                </div>
                <div ng-if="item.edit">
                    <div focus-me="item.focus">
                        <input type="text" ng-model="item.text" class="left"
                               ng-change="item.error = false"
                               ng-keypress="editOption(item, $index, $event)">
                        <span class="caption error" ng-show="item.error">
                            {{ 'survey_builder.Duplicated_option_value' | translate }}
                        </span>
                    </div>
                    <input type="button" class="button-icon single edit"
                           ng-class="{save: item.edit}"
                           ng-click="editOption(item, $index)">
                </div>
            </li>
            <li ng-show="question.addOption">
                <div focus-me="addOptionFocus">
                    <input type="text" ng-model="newOption.text" class="left"
                           ng-change="newOption.error = false"
                           ng-keypress="addOption(newOption.text, $event)">
                    <span class="caption error" ng-show="newOption.error">
                        {{ 'survey_builder.Duplicated_option_value' | translate }}
                    </span>
                </div>
                <input type="button" class="button-icon single edit"
                       ng-class="{save: question.addOption}"
                       ng-click="addOption(newOption.text)">
            </li>
        </ul>
        <div class="rules">
            <input type="button" class="cascade" value="{{ 'survey_builder.Add_option' | translate }}"
                   ng-click="question.addOption = true; addOptionFocus = true">
            <input type="file" class="cascade" value="{{ 'survey_builder.Import_existing_option' | translate }}"
                   csv-optioins-import question="question">
            <input type="button" class="cascade" value="{{ 'survey_builder.Import_existing_option' | translate }}"
                   ng-click="question.addOption = false">
        </div>
    </div>
    <div class="cascade2-tmpl"></div>
</div>
