<div class="b-modal-window ">
    <div class="b-modal-window__main-block b-send-survey">
        <div class="b-modal-window__main-block__header">
            <h2 class="b-modal-window__main-block__header--title">
                {{ 'surveys.Publish_survey_title' | translate }}
            </h2>
            <span class="b-modal-window__main-block__header--icon-close" ui-sref="^">
                <span class="fa fa-times"></span>
            </span>
        </div>
        <div class="b-modal-window__main-block__body">
            <form name="sendSurveyForm" ng-model="sendSurveyForm" id="send-survey-form" ng-submit="sendSms($stateParams.groupId)">
                <ul class="b-send-survey__all-groups">
                    <h4>
                        <input type="checkbox"
                               ng-model="allUsers.checked"
                               ng-checked="allUsers.checked"
                               ng-change="checkAllUsers(allUsers)">

                        <label class="expand close"
                               click="showUsers"
                               visible="allUsers.isVisible"
                               ng-click="showUsers()">
                            <span class="fa" ng-class="{'fa-caret-down': allUsers.isVisible,
                            'fa-caret-right': !allUsers.isVisible}"></span>
                            ({{allUsers.length}}) {{ 'users.All_users' | translate }}
                        </label>
                    </h4>
                    <div class="b-send-survey__all-users b-send-survey__groups-list__group" ng-show="allUsers.isVisible">
                        <li ng-repeat="user in allUsers" class="b-send-survey__all-groups__user">
                            <input type="checkbox" name="{{user.username}}"
                                   ng-model="user.checked"
                                   ng-checked="user.checked"
                                   ng-change="checkUser(allUsers, user, 'allUsers')">
                            <label>{{user.name}}</label>
                        </li>
                    </div>
                </ul>
                <div class="b-send-survey__groups-list">
                    <ul  ng-repeat="group in groups">
                        <h4>
                            <input type="checkbox" name="{{group.name}}"
                                   ng-model="group.users.checked"
                                   ng-change="checkAllUsersInGroup(group.users)"
                                   ng-disabled="allUsers.checked || !group.users.length">
                            <label class="expand"
                                   click="showUsersInGroup"
                                   visible="group.isVisible"
                                   ng-click="showUsersInGroup()"
                                   ng-class="{void: !group.users.length}">
                                <span class="fa" ng-show="group.users.length"
                                      ng-class="{'fa-caret-down': group.isVisible, 'fa-caret-right': !group.isVisible}"></span>

                                ({{group.users.length}}) {{group.name}}</label>
                        </h4>
                        <div class="{{group.name}} b-send-survey__groups-list__group" ng-show="group.isVisible">
                            <li ng-repeat="user in group.users" class="b-send-survey__all-groups__user">
                                <input type="checkbox" name="{{user.username}}"
                                       ng-model="user.checked"
                                       ng-checked="user.checked"
                                       ng-change="checkUser(group.users, user, 'group')"
                                       ng-disabled="allUsers.checked">
                                <label>{{user.name}}</label>
                            </li>
                        </div>
                    </ul>
                </div>

                <button type="button" class="b-modal-window__main-block__body__button"
                       ng-click="sendSurvey($stateParams.surveyId)">
                    <span class="fa fa-share b-modal-window__main-block__body__button--icon" ></span>
                    <span>{{ 'surveys.Publish_survey' | translate }}</span>
                </button>

            </form>
        </div>
    </div>
</div>