<div class="b-page__line">
  <div class="b-content">
    <div class="b-surveys-edit">
      <div class="b-surveys-edit__header">

        <div class="b-surveys-edit__header__name"
             ng-init="surveyData.titleEdit = false"
             title="{{surveyData.title}}"
             ng-if="!surveyData.titleEdit">{{surveyData.title}}
        </div>

        <input type="text" value="{{surveyData.title}}"
               class="b-surveys-edit__header__name--input"
               ng-model="surveyData.title"
               ng-if="surveyData.titleEdit"
               ng-blur="editItemTitle(surveyData, 'survey', 'title')"
               ng-keypress="editItemTitle(surveyData, 'survey', 'title', null, $event)"/>

        <button ng-click="editItemTitle(surveyData, 'survey', 'title')"  role="button"
                class="transparent-button">
                    <span class="fa b-surveys-edit__header__name--edit"
                          ng-class="{'fa-check': surveyData.titleEdit, 'fa-pencil' : !surveyData.titleEdit}"></span>
          <span class="button-title">{{ 'survey_builder.Edit_survey_title' | translate }}</span>
        </button>

        <button class="b-surveys-edit__header__save-btn"
                role="button"
                ng-click="saveSurvey(true)">
          <span class="fa fa-check b-surveys-edit__header__save-btn--icon"></span>
          <span class="b-surveys-edit__header__save-btn--text">{{ 'survey_builder.Save_survey' | translate }}</span>
        </button>
      </div>

      <!--div>DROPDOWNS TRANSLATE</div-->
      <div ng-show="false" ng-repeat="item in dropdownList">
        {{dropdownList[$index].text = (item.translateId | translate) }}
      </div>
      <!--div>DROPDOWNS TRANSLATE</div-->

      <!--div>DROPDOWNS TRANSLATE</div-->
      <div ng-show="false" ng-repeat="item in ddListOptionsInt">
        {{ddListOptionsInt[$index].text = (item.translateId | translate) }}
      </div>
      <!--div>DROPDOWNS TRANSLATE</div-->

      <div ui-sortable="sortableCategoriesOptions"
           class="category-box"
           ng-model="surveyData._categories">
        <div class="b-surveys-edit__category"
             ng-class="{disableddragcategory: category.isVisible || category.titleEdit}"
             ng-repeat="category in surveyData._categories">

          <div class="b-surveys-edit__category__top"
               ng-init="category.titleEdit = false">

            <button class="transparent-button b-surveys-edit__category__top--caret"
                    aria-expanded="{{category.isVisible || false}}"
                    aria-label="Expand category"
                    role="button"
                    ng-click="category.isVisible = !category.isVisible">
              <span class="fa g-pointer"
                    ng-class="{'fa-caret-down': category.isVisible , 'fa-caret-right':!category.isVisible}"></span>
              <span class="button-title">Expand category</span>
            </button>

            <span ng-if="!category.titleEdit" title="{{category.title}}"
                  class="b-surveys-edit__category__top--title">{{category.title}}</span>

            <input type="text"
                   placeholder="{{ 'survey_builder.Category_Name' | translate }}"
                   value="{{category.title}}"
                   class="b-surveys-edit__category__top--edit-input"
                   ng-model="category.title"
                   ng-if="category.titleEdit"
                   ng-blur="editItemTitle(category, 'category', 'title', $index)"
                   ng-keypress="editItemTitle(category, 'category', 'title', $index, $event)">

            <button class="transparent-button"
                    role="button"
                    ng-click="editItemTitle(category, 'category', 'title', $index)">
              <span class="fa"
                    ng-class="{'fa-check': category.titleEdit, 'fa-pencil' : !category.titleEdit}"></span>
              <span class="button-title">{{ 'survey_builder.Edit_category_title' | translate }}</span>
            </button>

            <button class="transparent-button"
                    role="button"
                    ng-click="copyCategory(category)">
              <span class="fa fa-files-o"
                    title="{{ 'survey_builder.Duplicate_category' | translate }} "></span>
              <span class="button-title">{{ 'survey_builder.Duplicate_category' | translate }}</span>
            </button>

            <button class="transparent-button"
                    role="button"
                    ng-click="deleteCategory(category)">
              <span class="fa fa-trash-o"
                    title="{{ 'survey_builder.Delete_category' | translate }}"></span>
              <span class="button-title">{{ 'survey_builder.Delete_category' | translate }}</span>
            </button>

            <div class="b-surveys-edit__category__top--move-btns">
              <button class="transparent-button"
                      role="button"
                      ng-disabled="$index === (surveyData._categories.length - 1)"
                      aria-disabled="{{$index === (surveyData._categories.length - 1)}}"
                      ng-click="moveCategory(category, $index + 1)">
                <span class="fa fa-arrow-down"></span>
                <span class="button-title">{{ 'survey_builder.Move_category_down' | translate }}</span>
              </button>
              <button class="transparent-button"
                      role="button"
                      ng-disabled="$index === 0"
                      aria-disabled="{{$index === 0}}"
                      ng-click="moveCategory(category, $index - 1)">
                <span class="fa fa-arrow-up"></span>
                <span class="button-title">{{ 'survey_builder.Move_category_up' | translate }}</span>
              </button>
            </div>

            <button class="b-surveys-edit__category__top__new-question-btn"
                    role="button"
                    ng-click="addQuestion(category)">
              <span class="fa fa-plus"></span>
              {{ 'survey_builder.Add_question' | translate }}
            </button>


          </div>
          <div ng-show="category.isVisible"
               class="questions-box"
               ui-sortable="sortableQuestionsOptions"
               ng-model="category._questions">

            <div class="b-surveys-edit__category__question"
                 ng-class="{disableddragquestion: question.isVisible || question.titleEdit}"
                 ng-init="question.titleEdit = false"
                 ng-repeat="question in category._questions | cascadeFilter">

              <div class="b-surveys-edit__category__question__header">

                <div class="b-surveys-edit__category__question__header__title">


                    <span title="{{question.label}}">

                      <button class="transparent-button b-surveys-edit__category__question__header__title--caret"
                              role="button"
                              aria-label="Expand question"
                              aria-expanded="{{question.isVisible || false}}"
                              ng-click="question.isVisible = !question.isVisible">
                        <span class="fa g-pointer"
                              ng-class="{'fa-caret-down' : question.isVisible, 'fa-caret-right': !question.isVisible }"></span>
                        <span class="button-title" >Expand question</span>
                      </button>

                      <span ng-if="!question.titleEdit"
                            class="b-surveys-edit__category__question__header__title--text">
                            {{question.label}}
                      </span>

                      <input type="text"
                             class="b-surveys-edit__category__question__header__title--edit-input"
                             placeholder="Question label"
                             ng-model="question.label"
                             ng-show="question.titleEdit"
                             ng-blur="editItemTitle(question, 'question', 'label', $parent.$index)"
                             ng-keypress="editItemTitle(question, 'question', 'label', $parent.$index, $event)"/>

                       <button class="transparent-button"
                               role="button"
                               ng-click="editItemTitle(question, 'question', 'label', $parent.$index)">
                         <span class="fa " ng-class="{'fa-pencil' : !question.titleEdit, 'fa-check' : question.titleEdit}"></span>
                         <span class="button-title">{{ 'survey_builder.Edit_question_title' | translate }}</span>
                       </button>
                    </span>

                    <button class="transparent-button"
                            role="button"
                            ng-click="copyQuestion(category, question, $parent.$index)">
                      <span class="fa fa-files-o"
                            title="{{ 'survey_builder.Duplicate_question' | translate }} "></span>
                      <span class="button-title">{{ 'survey_builder.Duplicate_question' | translate }} </span>
                    </button>

                    <button class="transparent-button"
                            role="button"
                            ng-click="deleteQuestion(category, question, $parent.$index)">
                      <span class="fa fa-trash-o"
                            title="{{ 'survey_builder.Delete_question' | translate }}"></span>
                      <span class="button-title">{{ 'survey_builder.Delete_question' | translate }}</span>
                    </button>

                    <div class="b-surveys-edit__category__question__header--move-btns">
                      <button class="transparent-button"
                              role="button"
                              ng-disabled="$index == (category._questions.length - 1)"
                              aria-disabled="{{$index == (category._questions.length - 1)}}"
                              ng-click="moveQuestion(category, question, $index + 1)">
                        <span class="fa fa-arrow-down"></span>
                        <span class="button-title">{{ 'survey_builder.Move_question_down' | translate }}</span>
                      </button>
                      <button class="transparent-button"
                              role="button"
                              ng-disabled="$index == 0"
                              aria-disabled="{{$index == 0}}"
                              ng-click="moveQuestion(category, question, $index - 1)">
                        <span class="fa fa-arrow-up"></span>
                        <span class="button-title">{{ 'survey_builder.Move_question_up' | translate }}</span>
                      </button>

                      <button class="transparent-button"
                              role="button"
                              ng-disabled="(category._questions.length == 1)
                                        || (surveyData._categories.length == 1)
                                        || ($parent.$index === (surveyData._categories.length - 1))")
                              aria-disabled="{{(category._questions.length == 1) || (surveyData._categories.length == 1)}}"
                              ng-click="moveQuestionToCategory(category, question, 1)">
                        <span class="fa fa-arrow-circle-down"></span>
                        <span class="button-title">{{ 'survey_builder.Move_question_to_category_above' | translate }}</span>
                      </button>
                      <button class="transparent-button"
                              role="button"
                              ng-disabled="(category._questions.length == 1)
                                        || (surveyData._categories.length == 1)
                                        || ($parent.$index === 0)"
                              aria-disabled="{{(category._questions.length == 1) || (surveyData._categories.length == 1)}}"
                              ng-click="moveQuestionToCategory(category, question, -1)">
                        <span class="fa fa-arrow-circle-up"></span>
                        <span class="button-title">{{ 'survey_builder.Move_question_to_category_below' | translate }}</span>
                      </button>
                    </div>

                </div>
                <div class="b-surveys-edit__category__question__header__rules">

                  <!--div>DROPDOWNS TRANSLATE</div-->

                  <div ng-show="false">
                    {{question.dropdownSelect.text = (question.dropdownSelect.translateId | translate)}}
                  </div>
                  <!--div>DROPDOWNS TRANSLATE</div-->
                  <button ng-if="question.isVisible"
                          dropdown-select="dropdownList"
                          dropdown-model="question.dropdownSelect"
                          dropdown-item-label="text"
                          dropdown-onchange="selectQuestionType(question, $parent.$parent.$index, $index)">
                  </button>

                  <div class="b-surveys-edit__category__question__header__rules__checkbox">
                    <button class="transparent-button"
                            role="checkbox"
                            aria-checked="{{question.required}}"
                            ng-click="question.required = !question.required">
                      <span class="fa b-surveys-edit__category__question__header__rules__checkbox--icon"
                            ng-class="{'fa-circle-o':!question.required, 'fa-check-circle-o': question.required}"></span>
                      <label
                        class="b-surveys-edit__category__question__header__rules__checkbox--label">Mandatory</label>
                    </button>

                  </div>
                </div>
              </div>

              <div class="b-surveys-edit__category__question__body"
                   ng-if="!(question.type == 'geopoint' || question.type == 'binary')"
                   ng-show="question.isVisible">

                <div class="b-question-builder"
                     question-builder
                     update-option="updateOption"
                     update-question="updateQuestion"
                     delete-option="deleteOption"
                     question-data="question"
                     category-data="category"></div>

                <div class="b-skip-logic" ng-if="(question.type == 'int' || question.type == 'select1')">
                  <div class="b-skip-logic__header">

                    <h5 class="b-skip-logic__header__title">
                      <button class="transparent-button"
                              role="button"
                              aria-label="Expand Skip Logic"
                              aria-expanded="{{question.isVisibleSkip || false}}"
                              ng-click="question.isVisibleSkip = !question.isVisibleSkip">
                        <span class="fa g-pointer"
                              ng-class="{'fa-caret-down':question.isVisibleSkip, 'fa-caret-right':!question.isVisibleSkip}"></span>
                      </button>

                      <span>{{ 'survey_builder.SL_OPTIONS' | translate }}</span>
                    </h5>
                  </div>
                  <div class="b-skip-logic__body"
                       ng-show="question.isVisibleSkip">
                        <span class="b-skip-logic__body__error-message"
                              ng-show="question.slOptionError || question.slQuestionError || question.slValueError">
                            <span class="fa fa-exclamation-triangle"></span>
                            {{ 'survey_builder.SL_error' | translate }}
                        </span>

                    <div class="b-skip-logic__body__option"
                         ng-class="{error: question.errorDefaultQuestion}"
                         ng-if="question.type==='select1'">
                      <span
                        class="b-skip-logic__body__option--label">{{ 'survey_builder.DEFAULT' | translate }}</span>
                      <label class="b-skip-logic__body__option--label">{{ 'survey_builder.Go_to' | translate }}</label>

                      <button dropdown-select="question.skipLogicList"
                              dropdown-model="question.skipLogicSelect"
                              dropdown-item-label="text"
                              ng-click="updateSLDropDown(question, $parent.$parent.$parent.$parent.$index, $parent.$parent.$parent.$index)"
                              dropdown-onchange="checkSLQuestionError(question)">
                      </button>
                    </div>
                    <div class="b-skip-logic__body__option b-skip-logic__body__option--{{question.type}}"
                         ng-repeat="slOpt in question.skipLogicOptions"
                         ng-class="{error: slOpt.errorOption || slOpt.errorQuestion || slOpt.errorValue}">
                      <!--div> INT SKIP LOGIC DROPDOWNS TRANSLATE</div-->
                      <div ng-if="question.type == 'int'" ng-show="false">
                        {{slOpt.ddSelectOptions.text = (slOpt.ddSelectOptions.translateId |
                        translate)}}
                      </div>
                      <!--div>INT SKIP LOGIC DROPDOWNS TRANSLATE</div-->

                      <label class="b-skip-logic__body__option--label">{{ 'survey_builder.If_answer_is' | translate
                        }} </label>

                      <div class="b-skip-logic__body__option-select"
                           dropdown-select="slOpt.ddListOptions"
                           dropdown-model="slOpt.ddSelectOptions"
                           dropdown-item-label="text"
                           dropdown-onchange="ddSelectOptionForSL(question)">
                      </div>
                      <input ng-show="question.type == 'int'"
                             type="text"
                             class="b-skip-logic__body__input"
                             validate-pattern
                             regexp="digitsPattern"
                             value-to-check="slOpt.firstInput"
                             ng-blur="checkSLIntValueError(question)"
                             ng-model="slOpt.firstInput">

                      <label ng-show="slOpt.ddSelectOptions.value === '<>'"
                             class="b-skip-logic__body__input--label">
                        <span class="fa fa-minus"></span>
                      </label>

                      <input ng-show="slOpt.ddSelectOptions.value === '<>'"
                             type="text"
                             class="b-skip-logic__body__input"
                             validate-pattern
                             regexp="digitsPattern"
                             value-to-check="slOpt.secondInput"
                             ng-blur="checkSLIntValueError(question)"
                             ng-model="slOpt.secondInput">

                      <label class="b-skip-logic__body__input--label">{{ 'survey_builder.then_skip_to' | translate}} </label>

                      <div class="b-skip-logic__body__question-select"
                           dropdown-select="slOpt.ddListQuestions"
                           dropdown-model="slOpt.ddSelectQuestions"
                           dropdown-item-label="text"
                           ng-click="updateSLDropDown(question, $parent.$parent.$parent.$parent.$index, $parent.$parent.$parent.$index)"
                           dropdown-onchange="checkSLQuestionError(question)">
                      </div>

                      <button type="button"
                              role="button"
                              class="transparent-button"
                              ng-click="deleteSLOption(question, $index, $parent.$parent.$parent.$parent.$index)">
                        <span class="fa fa-times b-skip-logic__body__del-option"></span>
                      </button>
                    </div>

                    <button role="button"
                      aria-disabled="{{question.type == 'select1' ? question.items.length <= question.skipLogicOptions.length : false}}"
                      ng-disabled="question.type == 'select1' ? question.items.length <= question.skipLogicOptions.length : false"
                      type="button"
                      class="b-skip-logic__body__add-option"
                      ng-click="addSLOption(question)">
                      <span class="fa fa-plus"></span>
                      {{ 'survey_builder.Add_sl_option' | translate }}
                    </button>
                  </div>
                </div>

                <div class="b-mask-input" ng-if="question.type == 'string'">
                  <div class="b-mask-input__header">

                    <h5 ng-class="{close: !question.isVisibleMascInput}"
                        class="b-mask-input__header--title">
                      {{'survey_builder.MASK_INPUT'| translate }}
                        <button type="button" class="transparent-button"
                                role="button"
                                aria-label="Expand Mask Input"
                                aria-expanded="{{question.isVisibleMascInput || false}}"
                                ng-click="question.isVisibleMascInput = !question.isVisibleMascInput">
                          <span class="fa g-pointer"
                                ng-class="{'fa-caret-right': !question.isVisibleMascInput,
                                'fa-caret-down': question.isVisibleMascInput}"></span>
                        </button>
                    </h5>
                  </div>
                  <div class="b-mask-input__body" ng-show="question.isVisibleMascInput">
                    <p class="b-mask-input__body__label">{{ 'survey_builder.MASK_INPUT_DESCRIPTION' | translate }}</p>
                    <input class="b-mask-input__body__input"
                           type="text" placeholder="E.g. WW-BB-1234"
                           validate-pattern
                           regexp="maskPattern"
                           value-to-check="question.mask"
                           ng-model="question.mask"
                           value="{{question.mask}}">
                  </div>
                </div>

                <button class="b-surveys-edit__category__question__body__done-btn"
                        role="button"
                        ng-click="question.isVisible = false">
                  {{ 'survey_builder.Done' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="b-surveys-edit__add-category-btn"
              role="button"
              ng-click="addCategory(true)">
        <span class="fa fa-plus b-surveys-edit__add-category-btn--icon"></span>
                          <span class="b-surveys-edit__add-category-btn--text">
                            {{ 'survey_builder.Add_category' | translate }}</span>
      </button>
    </div>
  </div>
</div>
