!!! transitional
head
body
    p Пароль для пользователя #{username} успешно изменен #{date} в #{time}.
    p Если пароль был изменен вами, дополнительных действий не требуется.
    br
    p Если пароль изменили не вы, возможно, ваша учетная запись была скомпрометирована. Вам необходимо изменить пароль для того, чтобы вернуть контроль над своей учетной записью.
