doctype html transitional
head
body
    h1 Добрый день, #{name}!
    p Ваш username - &nbsp;
        b #{username}.
    p
        | Перейдите &nbsp;
        a(href=link) по ссылке
        | , чтоб активировать ваш аккаунт.
    p MDG является свободным программным обеспечением. Вы можете распространять или модифицировать в рамках Универсальной общественной лицензии GNU, опубликованной Фондом свободного программного обеспечения. Мы можете использовать лицензию начиная с версии 2.1 или более свежую версию на ваш выбор.
    p MDG распространяется с мысль о том, что данный продукт будет полезен, но БЕЗ КАКИХ-ЛИБО ГАРАНТИЙ. Без подразумеваемой гарантии КОММЕРЧЕСКОЙ ВЫГОДЫ или СООТВЕТСВИЯ КАКОМУЛИБО ОПРЕДЕЛЕННОМУ НАЗНАЧЕНИЮ. Для получения дополнительной информации ознакомьтесь с Универсальной общественной лицензией GNU.

