doctype html transitional
head
body
    p Вы получили данное письмо, поскольку вы или кто-то другой запросил смену пароля для пользователя &nbsp;
        b #{username}
        | .
    p
        | Для того, чтобы сменить ваш пароль в системе MDG, пожалуйста, воспользуйтесь &nbsp;
        a(href=link) ссылкой.
    p Из соображений безопасности данная ссылка будет действительна в течение часа от момента получения.
    p Если вы получили данное письмо по ошибке, просто проигнорируйте его.
