!!!
html
    head
        title= title
        meta(charset='utf-8')
        meta('http-equiv'='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='initial-scale=1.0')

        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/styles.css')
        link(rel='stylesheet', href='/resources/jquery-ui/jquery-ui.css')
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

        script(src="https://js.cit.api.here.com/ee/2.5.3/jsl.js?with=all")
        script(src='//tags.tiqcdn.com/utag/nokia/datagathering/dev/utag.js')

        script(src='/vendor.js')
        script(src='/app.min.js')

        script.
            //nokia analytics
            var nkT = {
                pName : "index",
                sCountry : "ww",
                sLang : "en"
            };
        body
            div('ui-view'='' class='templates')

