<div class="b-question-builder__{{question.type}}" ng-if="question.type == 'string'">
    <div class="b-question-builder__input-box">
        <h5 class="b-question-builder__input-box--label">
            <label for="defaultValue">{{ 'survey_builder.DEFAULT_ANSWER' | translate }}</label>
        </h5>
        <input type="text"
               id="defaultValue"
               class="b-question-builder__input-box--input"
               placeholder="{{ 'survey_builder.DEFAULT_ANSWER_placeholder' | translate }}"
               ng-model="question.defaultValue"
               value="{{question.defaultValue}}">
    </div>
    <div class="b-question-builder__input-box">
        <h5 class="b-question-builder__input-box--label">
            <label for="maxLength">{{ 'survey_builder.MAXIMUM_ANSWER_LENGTH' | translate }}</label>
        </h5>
        <input type="text" value="{{question.maxLength}}"
               id="maxLength"
               class="b-question-builder__input-box--input b-question-builder__input-box--input--small"
               validate-pattern
               regexp="maxLengthPattern"
               value-to-check="question.maxLength"
               ng-model="question.maxLength">
        <label class="b-question-builder__input-box--caption">
            {{ 'survey_builder.Symbols' | translate }}
        </label>
    </div>
</div>
<div class="b-question-builder__{{question.type}}" ng-if="question.type == 'note'">
    <div class="b-question-builder__input-box">
        <p class="b-question-builder__input-box--label">
            {{ 'survey_builder.Notes_description' | translate }}
        </p>
        <textarea class="b-question-builder__input-box--textarea"
                  role="textbox"
                  type="text" placeholder="{{ 'survey_builder.NOTE_placeholder' | translate }}"
                  ng-model="question.defaultValue"
                  value="{{question.defaultValue}}"></textarea>
    </div>
</div>
<div class="b-question-builder__{{question.type}}" ng-if="question.type == 'time'">
    <div class="b-question-builder__input-box">
        <h5 class="b-question-builder__input-box--label">
            {{ 'survey_builder.DEFAULT_ANSWER' | translate }}
        </h5>
        <time-selector hours="question.defaultValueHH"
                       minutes="question.defaultValueMM"></time-selector>
    </div>
</div>
<div class="b-question-builder__{{question.type}}" ng-if="question.type == 'int'">
    <div class="b-question-builder__input-box">
        <h5 class="b-question-builder__input-box--label">
            <label for="defaultValue">{{'survey_builder.DEFAULT_ANSWER' | translate }}</label>
        </h5>
        <input type="text" id="defaultValue"
               class="b-question-builder__input-box--input"
               placeholder="{{ 'survey_builder.DEFAULT_ANSWER_placeholder' | translate }}"
               value="{{question.defaultValue}}"
               validate-pattern
               regexp="digitsPattern"
               value-to-check="question.defaultValue"
               ng-model="question.defaultValue"
               ng-blur="checkDefaultValue(question)">
    </div>
    <div class="b-question-builder__input-box__error-message" ng-show="question.defaultValueError">
        <span class="fa  fa-exclamation-circle"></span>
        {{ 'survey_builder.defaultValueError' | translate}}
    </div>
    <div class="b-question-builder__input-box">

        <span focus-me="question.minValueFocus">
            <input type="text"
                   class="b-question-builder__input-box--input b-question-builder__input-box--input--small"
                   value="{{question.minValue}}"
                   ng-disabled="!question.minChecked"
                   validate-pattern
                   regexp="digitsPattern"
                   value-to-check="question.minValue"
                   ng-blur="checkMinMaxValues(question)"
                   ng-model="question.minValue">
        </span>

        <span class="b-question-builder__input-box--caption">
          <button class="transparent-button"
                  role="checkbox"
                  aria-checked="{{question.minChecked}}"
                  ng-click="question.minValueFocus = true; checkMinMaxValues(question, 'minChecked')">

            <span class="fa b-surveys-edit__category__question__header__rules__checkbox--icon"
                  ng-class="{'fa-circle-o':!question.minChecked, 'fa-check-circle-o': question.minChecked}"></span>
            <label
              class="b-surveys-edit__category__question__header__rules__checkbox--label">
              {{ 'survey_builder.MINIMUM_RANGE' | translate }}
            </label>

          </button>
        </span>
    </div>
    <div class="b-question-builder__input-box">
        <span focus-me="question.maxValueFocus">
            <input type="text"
                   class="b-question-builder__input-box--input b-question-builder__input-box--input--small"
                   value="{{question.maxValue}}"
                   ng-disabled="!question.maxChecked"
                   validate-pattern
                   regexp="digitsPattern"
                   value-to-check="question.maxValue"
                   ng-blur="checkMinMaxValues(question)"
                   ng-model="question.maxValue">
        </span>

        <span class="b-question-builder__input-box--caption">

          <button class="transparent-button"
                  role="checkbox"
                  aria-checked="{{question.maxChecked}}"
                  ng-click="question.maxValueFocus = true; checkMinMaxValues(question, 'maxChecked')">

            <span class="fa b-surveys-edit__category__question__header__rules__checkbox--icon"
                  ng-class="{'fa-circle-o':!question.maxChecked, 'fa-check-circle-o': question.maxChecked}"></span>
            <label
              class="b-surveys-edit__category__question__header__rules__checkbox--label">
              {{ 'survey_builder.MAXIMUM_RANGE' | translate }}
            </label>

          </button>

        </span>
    </div>
    <div class="b-question-builder__input-box__error-message" ng-show="question.minmaxError">
        <span class="fa  fa-exclamation-circle"></span>
        {{ 'survey_builder.Invalid_min_max_range' | translate }}
    </div>
</div>
<div class="b-question-builder__{{question.type}}" ng-if="question.type == 'decimal'">
    <div class="b-question-builder__input-box">
        <h5 class="b-question-builder__input-box--label">
            {{ 'survey_builder.DEFAULT_ANSWER' | translate }}
        </h5>
        <input type="text"
               class="b-question-builder__input-box--input"
               placeholder="{{ 'survey_builder.DEFAULT_ANSWER_placeholder' | translate }}"
               value="{{question.defaultValue}}"
               validate-pattern
               regexp="decimalPattern"
               value-to-check="question.defaultValue"
               ng-model="question.defaultValue"
               ng-blur="checkDefaultValue(question)">
    </div>
    <div class="b-question-builder__input-box__error-message" ng-show="question.defaultValueError">
        <span class="fa  fa-exclamation-circle"></span>
        {{ 'survey_builder.defaultValueError' | translate}}
    </div>
    <div class="b-question-builder__input-box">
          <span focus-me="question.minValueFocus">
            <input type="text"
                   class="b-question-builder__input-box--input b-question-builder__input-box--input--small"
                   value="{{question.minValue}}"
                   ng-disabled="!question.minChecked"
                   validate-pattern
                   regexp="decimalPattern"
                   value-to-check="question.minValue"
                   ng-blur="checkMinMaxValues(question)"
                   ng-model="question.minValue">
        </span>
        <span class="b-question-builder__input-box--caption">

            <button class="transparent-button"
                    role="checkbox"
                    aria-checked="{{question.minChecked}}"
                    ng-click="question.minValueFocus = true; checkMinMaxValues(question, 'minChecked')">
              <span class="fa b-surveys-edit__category__question__header__rules__checkbox--icon"
                    ng-class="{'fa-circle-o':!question.minChecked, 'fa-check-circle-o': question.minChecked}"></span>
              <label
                class="b-surveys-edit__category__question__header__rules__checkbox--label">
                {{ 'survey_builder.MINIMUM_RANGE' | translate }}
              </label>
            </button>
        </span>

    </div>
    <div class="b-question-builder__input-box">
         <span focus-me="question.maxValueFocus">
            <input type="text"
                   class="b-question-builder__input-box--input b-question-builder__input-box--input--small"
                   value="{{question.maxValue}}"
                   ng-disabled="!question.maxChecked"
                   validate-pattern
                   regexp="decimalPattern"
                   value-to-check="question.maxValue"
                   ng-blur="checkMinMaxValues(question)"
                   ng-model="question.maxValue">
        </span>
        <span class="b-question-builder__input-box--caption">
          <button class="transparent-button"
                  role="checkbox"
                  aria-checked="{{question.maxChecked}}"
                  ng-click="question.maxValueFocus = true; checkMinMaxValues(question, 'maxChecked')">
            <span class="fa b-surveys-edit__category__question__header__rules__checkbox--icon"
                  ng-class="{'fa-circle-o':!question.maxChecked, 'fa-check-circle-o': question.maxChecked}"></span>
            <label
              class="b-surveys-edit__category__question__header__rules__checkbox--label">
              {{ 'survey_builder.MAXIMUM_RANGE' | translate }}
            </label>
          </button>
        </span>

    </div>
    <div class="b-question-builder__input-box__error-message" ng-show="question.minmaxError">
        <span class="fa  fa-exclamation-circle"></span>
        {{ 'survey_builder.Invalid_min_max_range' | translate }}
    </div>
</div>
<div class="b-question-builder__{{question.type}}" ng-if="question.type == 'date'">
    <div class="b-question-builder__input-box">
        <h5 class="b-question-builder__input-box--label">
            {{ 'survey_builder.DEFAULT_ANSWER' | translate }}
        </h5>

        <input class="b-question-builder__input-box--input"
               date-input="question.defaultValue"
               ng-model="question.defaultValue"
               readonly="readonly"
               min-range="question.minValue"
               max-range="question.maxValue">

        <p class="b-question-builder__input-box__clear-message">
            <span ng-if="question.defaultValue"
                  ng-click="deleteDefaultDate(question)"
                  class="fa fa-times"></span>
            <span ng-if="question.defaultValue">
                {{ 'survey_builder.Clear_default_field' | translate }}
            </span>
        </p>

    </div>
    <div date-range
         min-range="question.minValue"
         max-range="question.maxValue"
         min-checked="question.minChecked"
         max-checked="question.maxChecked"
         with-checkboxes="true"></div>
</div>
<div class="b-question-builder__{{question.type}}" ng-if="question.type == 'select1'">
    <div class="b-question-builder__input-box">
        <div class="rules">
            <button class="b-question-builder__input-box__button"
                    role="button"
                    ng-click="question.addOption = true; addOptionFocus = true;">
                <span class="fa fa-plus b-question-builder__input-box__button--icon"></span>
                <span class="b-question-builder__input-box__button--label">
                    {{ 'survey_builder.Add_option' | translate }}
                </span>
            </button>
            <div class="b-question-builder__input-box__button"
                 ng-click="question.addOption = false">
                <span class="fa fa-download b-question-builder__input-box__button--icon"></span>
                <span class="b-question-builder__input-box__button--label">
                    {{ 'survey_builder.Import_existing_option' | translate }}
                </span>
                <input type="file" csv-options-import question="question"
                       class="b-question-builder__input-box__button--file">
            </div>
        </div>
        <ul class="b-question-builder__variants">
            <li class="b-question-builder__variants__item"
                ng-repeat="item in question.items"
                ng-init="item.edit = false;">
                <div ng-if="!item.edit">
                    <label class="tooltip" title="{{item.text}}">
                        <input type="radio" name="choice" disabled="disabled">
                        <span class="b-question-builder__variants__item--label">{{item.text}}</span>
                    </label>
                    <span class="b-question-builder__variants__item__edit-variants">
                        <span class="fa fa-pencil" ng-click="item.edit = true; item.focus = true;"></span>
                        <span class="fa fa-trash-o" ng-click="deleteOption(question, $index)"></span>
                    </span>
                </div>
                <div ng-if="item.edit">
                    <div focus-me="item.focus">
                        <input class="b-question-builder__variants__item__edit-input"
                               type="text" ng-model="item.text"
                               ng-change="item.error = false"
                               ng-keypress="updateOption(question, item, $index, $event)">
                    </div>
                    <span class="fa b-question-builder__variants__item__edit-input--icon"
                          ng-class="{'fa-check-circle-o': item.edit}"
                          ng-click="updateOption(question, item, $index)"></span>

                    <span class="b-question-builder__input-box__error-message" ng-show="item.error">
                            {{ 'survey_builder.Duplicated_option_value' | translate }}
                    </span>
                </div>
            </li>
            <li ng-show="question.addOption" class="b-question-builder__variants__item">
                <div focus-me="addOptionFocus">
                    <input type="text" ng-model="newOption.text"
                           class="b-question-builder__variants__item__edit-input"
                           ng-change="newOption.error = false"
                           ng-keypress="addOption(newOption.text, $event)">

                </div>
                <span class="fa b-question-builder__variants__item__edit-input--icon"
                      ng-class="{'fa-check-circle-o': question.addOption}"
                      ng-click="addOption(newOption.text)"></span>

                <p class="b-question-builder__input-box__error-message" ng-show="newOption.error">
                    {{ 'survey_builder.Duplicated_option_value' | translate }}
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="b-question-builder__{{question.type}}" ng-if="question.type == 'select'">
    <div class="select-question">
        <div class="rules">
            <button class="b-question-builder__input-box__button"
                    role="button"
                    ng-click="question.addOption = true; addOptionFocus = true;">
                <span class="fa fa-plus b-question-builder__input-box__button--icon"></span>
                <span class="b-question-builder__input-box__button--label">
                    {{ 'survey_builder.Add_option' | translate }}
                </span>
            </button>
            <div class="b-question-builder__input-box__button"
                 ng-click="question.addOption = false">
                <span class="fa fa-download b-question-builder__input-box__button--icon"></span>
                <span class="b-question-builder__input-box__button--label">
                    {{ 'survey_builder.Import_existing_option' | translate }}
                </span>
                <input type="file" csv-options-import question="question"
                       class="b-question-builder__input-box__button--file">
            </div>
        </div>
        <ul class="b-question-builder__variants">
            <li class="b-question-builder__variants__item"
                ng-repeat="item in question.items"
                ng-init="item.edit = false;">
                <div ng-if="!item.edit">
                    <label class="tooltip" title="{{item.text}}">
                        <input type="checkbox" name="choice" disabled="disabled"  role="checkbox">
                        <span class="b-question-builder__variants__item--label">{{item.text}}</span>
                    </label>
                    <span class="b-question-builder__variants__item__edit-variants">
                        <span class="fa fa-pencil" ng-click="item.edit = true; item.focus = true;"></span>
                        <span class="fa fa-trash-o" ng-click="deleteOption(question, $index)"></span>
                    </span>
                </div>
                <div ng-if="item.edit">
                    <div focus-me="item.focus">
                        <input class="b-question-builder__variants__item__edit-input"
                               type="text" ng-model="item.text"
                               ng-change="item.error = false"
                               ng-keypress="updateOption(question, item, $index, $event)">
                    </div>
                    <span class="fa b-question-builder__variants__item__edit-input--icon"
                          ng-class="{'fa-check-circle-o': item.edit}"
                          ng-click="updateOption(question, item, $index)"></span>

                    <span class="b-question-builder__input-box__error-message" ng-show="item.error">
                            {{ 'survey_builder.Duplicated_option_value' | translate }}
                    </span>
                </div>
            </li>
            <li ng-show="question.addOption" class="b-question-builder__variants__item">
                <div focus-me="addOptionFocus">
                    <input type="text" ng-model="newOption.text"
                           class="b-question-builder__variants__item__edit-input"
                           ng-change="newOption.error = false"
                           ng-keypress="addOption(newOption.text, $event)">

                </div>
                <span class="fa b-question-builder__variants__item__edit-input--icon"
                      ng-class="{'fa-check-circle-o': question.addOption}"
                      ng-click="addOption(newOption.text)"></span>

                <p class="b-question-builder__input-box__error-message" ng-show="newOption.error">
                    {{ 'survey_builder.Duplicated_option_value' | translate }}
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="cascade b-cascade-question" ng-if="question.type == 'cascade1'">
    <div class="b-question-builder__input-box b-cascade-question__cascade-subs">
        <ul class="b-question-builder__variants">
            <li class="b-question-builder__variants__item"
                ng-repeat="item in question.items"
                ng-init="item.edit = false; item.error = false; item.prevText = item.text">
                <div ng-if="!item.edit">
                    <label class="">
                        <input type="radio" name="choice"
                               ng-click="selectOption(item)"
                               ng-checked="question.selectedOption == item.value">
                        <span title="{{item.text}}"
                              class="b-question-builder__variants__item--label"
                              ng-class="{selected : question.selectedOption == item.value }">
                            {{item.text}}
                        </span>
                    </label>

                    <span class="b-question-builder__variants__item__edit-variants">
                        <span class="fa fa-pencil" ng-click="item.edit = true; item.focus = true;"></span>
                        <span class="fa fa-trash-o" ng-click="deleteCascadeOption(item)"></span>
                    </span>
                </div>
                <div ng-if="item.edit">
                    <div focus-me="item.focus">
                        <input type="text" ng-model="item.text"
                               class="b-question-builder__variants__item__edit-input"
                               ng-change="item.error = false"
                               ng-keypress="editOption(item, $index, $event)">
                    </div>
                    <span type="button" class="fa b-question-builder__variants__item__edit-input--icon"
                           ng-class="{'fa-check-circle-o': item.edit}"
                           ng-click="editOption(item, $index)"></span>
                    <span class="caption error" ng-show="item.error">
                            {{ 'survey_builder.Duplicated_option_value' | translate }}
                    </span>
                </div>
            </li>
            <li ng-show="question.addOption" class="b-question-builder__variants__item">
                <div focus-me="addOptionFocus">
                    <input type="text" ng-model="newOption.text"
                           class="b-question-builder__variants__item__edit-input"
                           ng-change="newOption.error = false"
                           ng-keypress="addOption(newOption.text, $event)">
                </div>
                <span type="button" class="fa b-question-builder__variants__item__edit-input--icon"
                       ng-class="{'fa-check-circle-o': question.addOption}"
                       ng-click="addOption(newOption.text)"></span>

                <span class="b-question-builder__input-box__error-message" ng-show="newOption.error">
                        {{ 'survey_builder.Duplicated_option_value' | translate }}
                </span>
            </li>
        </ul>

        <div class="b-cascade-question__rules">
            <button class="b-question-builder__input-box__button"
                    role="button"
                    ng-click="question.addOption = true; addOptionFocus = true;">
                <span class="fa fa-plus b-question-builder__input-box__button--icon"></span>
                <span class="b-question-builder__input-box__button--label">
                    {{ 'survey_builder.Add_option' | translate }}
                </span>
            </button>
            <div class="b-question-builder__input-box__button"
                 ng-click="question.addOption = false">
                <span class="fa fa-download b-question-builder__input-box__button--icon"></span>
                <span class="b-question-builder__input-box__button--label">
                    {{ 'survey_builder.Import_existing_option' | translate }}
                </span>
                <input type="file" csv-options-import question="question"
                       class="b-question-builder__input-box__button--file">
            </div>
        </div>
    </div>
    <div class="cascade2-tmpl"></div>
</div>
