<div class="b-modal-window"  role="dialog">
    <div class="b-modal-window__overlay"></div>
    <div class="b-modal-window__main-block b-new-user" focus-modal>
        <div class="b-modal-window__main-block__header">
            <h2 class="b-modal-window__main-block__header--title"
                role="heading">
                {{ 'edit_user.Edit_Details' | translate}}
            </h2>
            <span class="b-modal-window__main-block__header--icon-close">
              <a class="transparent-button" ui-sref="^" tabindex="1">
                <span class="fa fa-times"></span>
                <span class="button-title">{{ 'Close_popup' | translate}}</span>
              </a>
            </span>
        </div>
        <div class="b-modal-window__main-block__body">
            <form name="editUserForm" id="edit-user-form"
                  novalidate class="b-new-user__form"
                  ng-model="editUserForm"
                  autocomplete="off"
                  ng-submit="updateUser($stateParams.userId)">

                <div class="b-new-user__form__row">
                    <div class="b-new-user__form__row__col">
                        <div class="b-new-user__form__item">
                            <label class="b-new-user__form__item__label" for="firstName">
                                {{ 'edit_user.FIRST_NAME' | translate}}
                            </label>
                            <input class="b-new-user__form__item__field" type="text"
                                   id="firstName"
                                   tabindex="2"
                                   name="firstName" required
                                   placeholder="{{ 'edit_user.placeholder.FIRST_NAME' | translate }}"
                                   ng-model="user.firstName"
                                   ng-minlength="2"
                                   ng-maxlength="60"
                                   ng-trim="true">

                            <div errorsblock="errors.firstName"></div>
                        </div>
                    </div>
                    <div class="b-new-user__form__row__col">
                        <div class="b-new-user__form__item">
                            <label class="b-new-user__form__item__label" for="lastName">
                              {{ 'edit_user.LAST_NAME' | translate }}
                            </label>
                            <input class="b-new-user__form__item__field" type="text"
                                   id="lastName"
                                   tabindex="3"
                                   name="lastName" required
                                   placeholder="{{ 'edit_user.placeholder.LAST_NAME' | translate }}"
                                   ng-model="user.lastName"
                                   ng-minlength="2"
                                   ng-maxlength="60"
                                   ng-trim="true">

                            <div errorsblock="errors.lastName"></div>
                        </div>
                    </div>

                </div>

                <div class="b-new-user__form__row">
                    <div class="b-new-user__form__row__col">
                        <div class="b-new-user__form__item">
                            <label class="b-new-user__form__item__label" for="permission">
                                {{ 'edit_user.PERMISSION' | translate}}
                            </label>

                            <div class="e-select">
                                <label class="e-select__label">
                                    <select name="permission" id="permission" tabindex="4"
                                            class="e-select__box" ng-model="user.permission">
                                        <option selected="selected" value="admin">Admin</option>
                                        <option value="operator">Operator</option>
                                        <option value="fieldWorker">Field worker</option>
                                    </select>
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="b-new-user__form__row__col">
                        <div class="b-new-user__form__item">
                            <label class="b-new-user__form__item__label" for="username">
                              {{ 'edit_user.USERNAME' | translate }}
                            </label>
                            <input class="b-new-user__form__item__field" type="text"
                                   id="username"
                                   tabindex="5"
                                   name="username" required
                                   placeholder="{{ 'edit_user.placeholder.USERNAME' | translate }}"
                                   ng-model="user.username"
                                   ng-minlength="5"
                                   ng-maxlength="13"
                                   ng-pattern="/^[a-zA-Z\d\.]+$/"
                                   ng-trim="true"
                                   ng-change="checkExistingUsername()">

                            <div errorsblock="errors.username"></div>
                        </div>
                    </div>
                </div>

                <div class="b-new-user__form__row">
                    <div class="b-new-user__form__item">
                        <label class="b-new-user__form__item__label" for="phone">
                          {{ 'edit_user.PHONE_NUMBER' | translate }}
                        </label>
                        <input class="b-new-user__form__item__field" type="text"
                               id="phone"
                               tabindex="6"
                               name="phone" required
                               placeholder="{{ 'edit_user.placeholder.PHONE_NUMBER' | translate }}"
                               ng-model="user.phone"
                               validate-phone-number
                               ng-trim="true">

                        <div errorsblock="errors.phone"></div>

                    </div>
                </div>

                <div class="b-new-user__form__row">
                    <div class="b-new-user__form__item" ng-if="user.permission !== 'fieldWorker'">
                        <label class="b-new-user__form__item__label" for="email">
                          {{ 'edit_user.EMAIL' | translate }}
                        </label>
                        <input class="b-new-user__form__item__field b-new-user__form__item__field--long" type="text"
                               id="email"
                               tabindex="7"
                               name="email" required
                               placeholder="{{ 'edit_user.placeholder.EMAIL' | translate }}"
                               ng-model="user.email"
                               ng-minlength="3"
                               ng-maxlength="60"
                               ng-class="{error: errorEmail}"
                               ng-trim="true"
                               ng-change="checkExistingEmail()">

                        <div errorsblock="errors.email"></div>

                    </div>
                </div>

                <div class="b-new-user__form__row">
                    <div class="b-new-user__form__row__col">
                        <div class="b-new-user__form__item">
                            <label class="b-new-user__form__item__label" for="password">
                              {{ 'edit_user.PASSWORD' | translate }}
                            </label>
                            <input class="b-new-user__form__item__field" type="password"
                                   id="password"
                                   tabindex="8"
                                   name="password"
                                   placeholder="{{ 'edit_user.placeholder.PASSWORD' | translate }}"
                                   ng-model="user.password"
                                   ng-change="errorPassword = false"
                                   ng-minlength="8"
                                   ng-maxlength="20"
                                   ng-trim="true">

                            <div errorsblock="errors.password"></div>

                        </div>
                    </div>
                    <div class="b-new-user__form__row__col">
                        <div class="b-new-user__form__item">
                            <label class="b-new-user__form__item__label" for="confirmpass">
                                {{ 'edit_user.CONFIRM_PASSWORD' | translate}}
                            </label>
                            <input class="b-new-user__form__item__field" type="password"
                                   tabindex="9"
                                   id="confirmpass"
                                   name="confirmpass"
                                   placeholder="{{ 'edit_user.placeholder.CONFIRM_PASSWORD' | translate }}"
                                   ng-model="user.confirmpass"
                                   ng-trim="true">

                            <div errorsblock>
                  <span class="error-message ng-hide" ng-show="user.password !== user.confirmpass">
                      {{ 'errors.passwordsDoNotMatch' | translate }}
                  </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="b-new-user__form__caption">
                    {{ 'edit_user.info_msg_add_form' | translate }}
           <span class="error-message" ng-show="errorInvalidVersion">
                {{ 'edit_user.info_was_changed' | translate }}
            </span>
                </div>
                <button class="e-create-btn b-content__users--bnt-top"
                        role="button"
                        type="submit"
                        tabindex="10">
                    <span class="fa fa-check e-create-btn--icon"></span>
                    <span class="e-create-btn--title">{{ 'edit_user.Save_user' | translate }}</span>
                </button>
            </form>
        </div>
    </div>
</div>
